# Bottle Processing
Author: Andrew Reed

### Motivation:
Independent verification of the suite of physical and chemical observations provided by OOI are critical for the observations to be of use for scientifically valid investigations. Consequently, CTD casts and Niskin water samples are made during deployment and recovery of OOI platforms, vehicles, and instrumentation. The water samples are subsequently analyzed by independent labs for  comparison with the OOI telemetered and recovered data.

However, currently the water sample data routinely collected and analyzed as part of the OOI program are not available in a standardized format which maps the different chemical analyses to the physical measurements taken at bottle closure. Our aim is to make these physical and chemical analyses of collected water samples available to the end-user in a standardized format for easy comprehension and use, while maintaining the source data files. 

### Approach:
Generating a summary of the water sample analyses involves preprocessing and concatenating multiple data sources, and accurately matching samples with each other. To do this, I first preprocess the ctd casts to generate bottle (.btl) files using the SeaBird vendor software following the SOP available on Alfresco. 

Next, the bottle files are parsed using python code and the data renamed following SeaBird's naming guide. This creates a series of individual cast summary (.sum) files. These files are then loaded into pandas dataframes, appended to each other, and exported as a csv file containing all of the bottle data in a single data file.

### Data Sources/Software:

* **sbe_name_map**: This is a spreadsheet which maps the short names generated by the SeaBird SBE DataProcessing Software to the associated full names. The name mapping originates from SeaBird's SBE DataProcessing support documentation.

* **Alfresco**: The Alfresco CMS for OOI at alfresco.oceanobservatories.org is the source of the ctd hex, xmlcon, and psa files necessary for generating the bottle files needed to create the sample summary sheet.

* **SBEDataProcessing-Win32**: SeaBird vendor software for processing the raw ctd files and generating the .btl files.

In [1]:
# Import packages used in this notebook
import os, sys, re
import pandas as pd
import numpy as np

In [2]:
# Load the name mapping for the column names
# Specifiy the local directory
sbe_name_map = pd.read_excel('/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Reference_Files/seabird_ctd_name_map.xlsx')
# sbe_name_map = pd.read_excel('C:/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Reference_Files/seabird_ctd_name_map.xlsx')

In [3]:
# Specify the local directory where the bottle (.btl) files are stored for a particular cruise
# dirpath = 'C:/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/Irminger/Irminger-5/ctd/'
dirpath = '/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/Irminger/Irminger-4/ctd/'

In [4]:
# Parse the data for the start_time
def parse_header(header):
    """
    Parse the header of bottle (.btl) files to get critical information
    for the summary spreadsheet.
    
    Args:
        header - an object containing the header of the bottle file as a list of
            strings, split at the newline.
    Returns:
        hdr - a dictionary object containing the start_time, filename, latitude,
            longitude, and cruise id.
    """
    hdr = {}
    for line in header:
        if 'start_time' in line.lower():
            start_time = pd.to_datetime(re.split('= |\[',line)[1])
            hdr.update({'Start Time':start_time.strftime('%Y-%m-%dT%H:%M:%SZ')})
        elif 'filename' in line.lower():
            hex_name = re.split('=',line)[1].strip()
            hdr.update({'Hex name':hex_name})
        elif 'latitude' in line.lower():
            start_lat = re.split('=',line)[1].strip()
            hdr.update({'Start Latitude':start_lat})
        elif 'longitude' in line.lower():
            start_lon = re.split('=',line)[1].strip()
            hdr.update({'Start Longitude':start_lon})
        elif 'cruise id' in line.lower():
            cruise_id = re.split(':',line)[1].strip()
            hdr.update({'Cruise ID':cruise_id})
        else:
            pass
    
    return hdr

In [5]:
# Now write a function to autopopulate the bottle summary sample sheet
sbe_name_map;
dirpath;

# Now 
files = [x for x in os.listdir(dirpath) if '.btl' in x]
for filename in files:
    filepath = os.path.abspath(dirpath+filename)
    
    # Load the raw content into memory
    with open(filepath) as file:
        content = file.readlines()
    content = [x.strip() for x in content]
    
    # Now parse the file content
    header = []
    columns = []
    data = []
    for line in content:
        if line.startswith('*') or line.startswith('#'):
            header.append(line)
        else:
            try:
                float(line[0])
                data.append(line)
            except:
                columns.append(line)
    
    # Parse the header
    hdr = parse_header(header)
    
    # Parse the column identifiers
    column_dict = {}
    for line in columns:
        for i,x in enumerate(line.split()):
            try:
                column_dict[i] = column_dict[i] + ' ' + x
            except:
                column_dict.update({i:x})
    
    # Parse the bottle data based on the column header locations
    data_dict = {x:[] for x in column_dict.keys()}

    for line in data:
        if line.endswith('(avg)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            for i,x in enumerate(values):
                data_dict[i].append(x)
        elif line.endswith('(sdev)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            data_dict[1].append(values[0])
        else:
            pass
            
    data_dict[1] = [' '.join(item) for item in zip(data_dict[1][::2],data_dict[1][1::2])]
    
    # With the parsed data and column names, match up the data and column
    # based on the location
    results = {}
    for key,item in column_dict.items():
        values = data_dict[key]
        results.update({item:values})
        
    # Put the results into a dataframe
    df = pd.DataFrame.from_dict(results)
        
    # Now add the parsed info from the header files into the dataframe
    for key,item in hdr.items():
        df[key] = item
        
    # Get the cast number
    cast = filename[filename.index('.')-3:filename.index('.')]
    df['Cast #'] = str(cast).zfill(3)
    
    # Generate a filename for the summary file
    outname = filename.split('.')[0] + '.sum'
    
    # Save the results
    df.to_csv(dirpath+outname)

In [6]:
# Now, for each "summary" file, load and append to each other
df = pd.DataFrame()
for file in os.listdir(dirpath):
    if '.sum' in file:
        df = df.append(pd.read_csv(dirpath+file))
    else:
        pass

In [7]:
sbe_name_map['Short Name'].apply(lambda x: str(x).lower());

In [8]:
# Rename the column title using the sbe_name_mapping 
for colname in list(df.columns.values):
    try:
        fullname = list(sbe_name_map[sbe_name_map['Short Name'].apply(lambda x: str(x).lower() == colname.lower()) == True]['Full Name'])[0]
        df.rename({colname:fullname},axis='columns',inplace=True)
    except:
        pass

In [9]:
df.rename(columns={'Bottle Position':'Niskin #'},inplace=True)
df['Niskin #'] = df['Niskin #'].apply(lambda x: str( int(x) ) )

In [11]:
df.columns.values

array(['Unnamed: 0', 'Niskin #', 'Date Time', 'Pressure, Digiquartz [db]',
       'Depth [salt water, m]', 'Latitude [deg]', 'Longitude [deg]',
       'Temperature [ITS-90, deg C]', 'Temperature, 2 [ITS-90, deg C]',
       'Conductivity [S/m]', 'Conductivity, 2 [S/m]',
       'Salinity, Practical [PSU]', 'Salinity, Practical, 2 [PSU]',
       'Oxygen, SBE 43 [ml/l]',
       'Oxygen Saturation, Garcia & Gordon [ml/l]',
       'Beam Attenuation, WET Labs C-Star [1/m]',
       'Beam Transmission, WET Labs C-Star [%]', 'Hex name',
       'Start Latitude', 'Start Longitude', 'Start Time', 'Cast #'],
      dtype=object)

In [12]:
df.drop(columns='Unnamed: 0',inplace=True)

In [13]:
df.to_csv(dirpath+'Irminger-4_Summary.csv')

In [14]:
os.listdir(dirpath)

['AR21_003.bl',
 'AR21_007.XMLCON',
 'AR21_011.hex',
 'AR21 Deck Test1.bl',
 'AR21 Deck Test1.hdr',
 'AR21 Deck Test1.hex',
 'AR21 DECK TEST1.XMLCON',
 'AR21 Deck Test2.bl',
 'AR21 Deck Test2.hdr',
 'AR21 Deck Test2.hex',
 'AR21 DECK TEST2.XMLCON',
 'ar21.xmlcon',
 'ar21999.bl',
 'ar21999.btl',
 'ar21999.hdr',
 'ar21999.hex',
 'ar21999.ros',
 'ar21999.sum',
 'AR21999.XMLCON',
 'AR21_001.bl',
 'AR21_001.hdr',
 'AR21_001.hex',
 'AR21_001.XMLCON',
 'AR21_002.bl',
 'AR21_002.hdr',
 'AR21_002.hex',
 'AR21_002.XMLCON',
 'AR21_003.btl',
 'AR21_003.hdr',
 'AR21_003.hex',
 'AR21_003.ros',
 'AR21_003.sum',
 'AR21_003.XMLCON',
 'AR21_004.bl',
 'AR21_004.btl',
 'AR21_004.hdr',
 'AR21_004.hex',
 'AR21_004.ros',
 'AR21_004.sum',
 'AR21_004.XMLCON',
 'AR21_005.bl',
 'AR21_005.btl',
 'AR21_005.hdr',
 'AR21_005.hex',
 'AR21_005.ros',
 'AR21_005.sum',
 'AR21_005.XMLCON',
 'AR21_006.bl',
 'AR21_006.btl',
 'AR21_006.hdr',
 'AR21_006.hex',
 'AR21_006.ros',
 'AR21_006.sum',
 'AR21_006.XMLCON',
 'AR21_007.bl',
 'AR21_007.btl',
 'AR21_007.hdr',
 'AR21_007.hex',
 'AR21_007.ros',
 'AR21_007.sum',
 'AR21_008.bl',
 'AR21_008.btl',
 'AR21_008.hdr',
 'AR21_008.hex',
 'AR21_008.ros',
 'AR21_008.sum',
 'AR21_008.XMLCON',
 'AR21_009.bl',
 'AR21_009.btl',
 'AR21_009.hdr',
 'AR21_009.hex',
 'AR21_009.ros',
 'AR21_009.sum',
 'AR21_009.XMLCON',
 'AR21_010.bl',
 'AR21_010.btl',
 'AR21_010.hdr',
 'AR21_010.hex',
 'AR21_010.ros',
 'AR21_010.sum',
 'AR21_010.XMLCON',
 'AR21_011.bl',
 'AR21_011.btl',
 'AR21_011.hdr',
 'AR21_011.ros',
 'AR21_011.sum',
 'AR21_011.XMLCON',
 'AR21_012.bl',
 'AR21_012.btl',
 'AR21_012.hdr',
 'AR21_012.hex',
 'AR21_012.ros',
 'AR21_012.sum',
 'AR21_012.XMLCON',
 'ar998.bl',
 'AR998.XMLCON',
 'armstrong_383_2017June.xmlcon',
 'doc',
 'fixed_caution.dsa',
 'fixed_sensor_output.dsa',
 'Irminger-4_Summary.csv',
 'main.dsa',
 'process',
 'seasave_armstrong_2017june.psa']

### Oxygen & Salinity 
Now, we need to add the

In [15]:
# Need a way to map the oxygen and salinity samples to the CTD samples
# Load the CTD sample logs

In [23]:
botpath = '/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/Irminger/Irminger-4/Water Sampling/Irminger_Sea-04_AR21_CTD_Sampling_Log.xlsx'
sample_log = pd.read_excel(botpath,sheet_name='Summary',header=0)

In [24]:
sample_log.head()

,Cast #,Niskin #,Time,Target Depth,Trip Depth,Potential Temp,Salinity,Oxygen Bottle #,Ph Bottle #,DIC/TA Bottle #,Salts Bottle #,Nitrate Bottle 1,Chlorophyll Brown Bottle #,Chlorophyll Filter Sample #,Unnamed: 14,Chlorophyll Brown Bottle Volume,Chlorophyll LN Tube,Comments
0,6,1.0,NaN,NaN,1000.0,NaN,34.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,2.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CTD O2 ~4.76
2,6,3.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,4.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CTD O2 ~4.56
4,6,5.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Rename the column headers
sample_log.rename(columns=lambda x: 'Sample Log: ' + x.strip(), inplace=True)
sample_log['Sample Log: Niskin #'] = sample_log['Sample Log: Niskin #'].apply(lambda x: str(x) )
sample_log['Sample Log: Cast #'] = sample_log['Sample Log: Cast #'].apply(lambda x: str(x).zfill(3))

In [26]:
basepath = '/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/Irminger/Irminger-4/'

In [27]:
# Load the oxygen data
sal_dir = basepath+'Water Sampling/Irminger_Sea-04_AR21_Oxygen_and_Salinity_Sample_Data/'
sal_df = pd.DataFrame()
oxy_df = pd.DataFrame()

for file in os.listdir(sal_dir):
    if 'SAL' in file:
        sal_df = sal_df.append(pd.read_excel(sal_dir+file))
    elif 'OXY' in file:
        oxy_df = oxy_df.append(pd.read_excel(sal_dir+file))

In [28]:
sal_df.rename(columns=lambda x: 'SAL: ' + x.strip(), inplace=True)
sal_df.dropna(subset=['SAL: Cruise'], inplace=True)
sal_df.fillna(-999, inplace=True)
sal_df['SAL: Station'] = sal_df['SAL: Station'].apply(lambda x: str( int(x) ).zfill(3) )
sal_df['SAL: Niskin #'] = sal_df['SAL: Niskin #'].apply(lambda x: str( int(x) ) )
sal_df['SAL: Sample'] = sal_df['SAL: Sample'].apply(lambda x: str( int(x) ) )
sal_df['SAL: Sample'] = sal_df['SAL: Case ID'] + sal_df['SAL: Sample']

In [29]:
oxy_df.rename(columns=lambda x: 'OXY: ' + x.strip(), inplace=True)
oxy_df.dropna(subset=['OXY: Cruise'], inplace=True)
oxy_df.fillna(-999, inplace=True)
oxy_df['OXY: Station'] = oxy_df['OXY: Station'].apply(lambda x: str( int(x) ).zfill(3) )
oxy_df['OXY: Niskin #'] = oxy_df['OXY: Niskin #'].apply(lambda x: str( int(x) ) )
oxy_df['OXY: Sample#'] = oxy_df['OXY: Sample#'].apply(lambda x: str( int(x) ) )
oxy_df['OXY: Sample#'] = oxy_df['OXY: Case'] + oxy_df['OXY: Sample#']

In [31]:
# Now I need to merge dataframes together
sample_log = sample_log.merge(sal_df, how='left', left_on=['Sample Log: Cast #','Sample Log: Salts Bottle #'], right_on=['SAL: Station','SAL: Sample'])

In [32]:
sample_log = sample_log.merge(oxy_df, how='left', left_on=['Sample Log: Cast #','Sample Log: Oxygen Bottle #'],
                              right_on=['OXY: Station','OXY: Sample#'])

In [33]:
# Now I need to join the 
sample_log[['Sample Log: Oxygen Bottle #', 'OXY: Sample#']].dropna()

   Sample Log: Oxygen Bottle # OXY: Sample#
5                           T1           T1
6                           T2           T2
7                           T3           T3
8                           T4           T4
9                           T5           T5
10                          T6           T6
11                          T7           T7
12                          T8           T8
13                          T9           T9
14                         T10          T10
15                         T11          T11
29                          F1           F1
30                          F2           F2
31                          F3           F3
32                          F4           F4
33                          F5           F5
34                          F6           F6
35                          F7           F7
36                          F8           F8
37                          F9           F9
38                         F10          F10
39                         F11          F11
40                         F12          F12
53                          T1           T1
54                          T2           T2
55                          T3           T3
56                          T4           T4
57                          T5           T5
58                          T6           T6
59                          T7           T7
60                          T8           T8
61                          T9           T9
62                         T10          T10
63                         T11          T11
64                         T12          T12

In [40]:
df['Cast #'] = df['Cast #'].apply(lambda x: str(x).zfill(3) )

In [42]:
# Now, merge the oxygen and salinity data into the bottle summary file
result = df.merge(sample_log[['Sample Log: Cast #','Sample Log: Niskin #','SAL: Salinity','OXY: Oxy']],
                  how='left', left_on=['Cast #','Niskin #'], right_on=['Sample Log: Cast #','Sample Log: Niskin #'])

In [ ]:
result.columns.values

In [43]:
sal_unit = '[' + list(set(sal_df['SAL: Unit']) )[0] + ']'
oxy_unit = '[' + list(set(oxy_df['OXY: Unit']) )[0] + ']'
sal_unit, oxy_unit

('[psu]', '[mL/L]')

In [44]:
result.drop(['Sample Log: Cast #','Sample Log: Niskin #'], axis=1, inplace=True)

In [45]:
result.rename(columns=lambda x: x.replace('SAL:','Bottle') + ' ' + sal_unit if 'SAL:' in x else x, inplace=True)
result.rename(columns=lambda x: x.replace('OXY:','Bottle') + ' ' + oxy_unit if 'OXY:' in x else x, inplace=True)

In [49]:
result

,Niskin #,Date Time,"Pressure, Digiquartz [db]","Depth [salt water, m]",Latitude [deg],Longitude [deg],"Temperature [ITS-90, deg C]","Temperature, 2 [ITS-90, deg C]",Conductivity [S/m],"Conductivity, 2 [S/m]",...,"Oxygen Saturation, Garcia & Gordon [ml/l]","Beam Attenuation, WET Labs C-Star [1/m]","Beam Transmission, WET Labs C-Star [%]",Hex name,Start Latitude,Start Longitude,Start Time,Cast #,Bottle Salinity [psu],Bottle Oxy [mL/L]
0,1,Jul 06 2017 23:39:38,305.424,302.863,39.88712,-71.36012,8.2413,8.2419,3.672995,3.670923,...,6.55704,0.1732,95.7628 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
1,2,Jul 06 2017 23:43:52,280.064,277.733,39.88712,-71.36012,8.6133,8.6153,3.704244,3.706693,...,6.50402,0.1719,95.7945 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
2,3,Jul 06 2017 23:46:53,239.547,237.577,39.88712,-71.36014,9.9069,9.9174,3.827218,3.838110,...,6.32078,0.1700,95.8381 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
3,4,Jul 06 2017 23:49:19,204.555,202.889,39.88712,-71.36014,10.6219,10.6233,3.911485,3.911304,...,6.21697,0.1680,95.8875 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
4,5,Jul 06 2017 23:51:56,179.138,177.691,39.88714,-71.36014,11.2733,11.2787,3.980344,3.980555,...,6.12850,0.1667,95.9183 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
5,6,Jul 06 2017 23:56:09,138.845,137.736,39.88710,-71.36012,12.1869,12.1882,4.074497,4.074299,...,6.00934,0.1664,95.9258 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
6,7,Jul 06 2017 23:59:11,103.737,102.918,39.88710,-71.36014,12.4195,12.4085,4.090826,4.089482,...,5.98209,0.1683,95.8786 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
7,8,Jul 07 2017 00:01:54,78.658,78.041,39.88712,-71.36012,12.3134,12.3131,4.064800,4.064373,...,6.00061,0.1742,95.7391 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
8,9,Jul 07 2017 00:05:17,53.622,53.205,39.88714,-71.36013,12.0988,12.1000,4.005337,4.005199,...,6.04139,0.2120,94.8379 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
9,10,Jul 07 2017 00:07:52,38.593,38.294,39.88713,-71.36012,12.4680,12.4705,4.009986,4.009991,...,6.00613,0.2811,93.2137 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
10,11,Jul 07 2017 00:10:11,28.443,28.223,39.88712,-71.36012,13.2922,13.2509,4.075244,4.071435,...,5.90962,0.3823,90.8853 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
11,12,Jul 07 2017 00:11:45,13.323,13.221,39.88712,-71.36013,17.8936,17.8518,4.456552,4.452373,...,5.41603,0.4880,88.5166 (avg),D:\Data\ar20001.hex,39 53.23 N,071 21.61 W,2017-07-06T23:27:03Z,999,NaN,NaN
12,1,Aug 02 2017 15:13:01,1010.706,999.538,50.78612,-47.31275,3.3457,3.3478,3.231005,3.231099,...,7.36764,0.1342,96.7012 (avg),D:\Data\AR21_003.hex,50 47.14 N,047 18.31 W,2017-08-02T14:13:54Z,003,NaN,NaN
13,1,Aug 02 2017 17:03:59,1013.302,1002.099,50.78648,-47.31814,3.3436,3.3454,3.230972,3.231040,...,7.36799,0.1340,96.7070 (avg),D:\Data\AR21_004.hex,50 47.19 N,047 19.09 W,2017-08-02T15:55:19Z,004,NaN,NaN
14,1,Aug 02 2017 18:42:27,1013.454,1002.249,50.78648,-47.31811,3.3391,3.3412,3.230444,3.230541,...,7.36890,0.1348,96.6863 (avg),D:\Data\AR21_005.hex,50 47.19 N,047 19.09 W,2017-08-02T17:41:30Z,005,NaN,NaN
15,1,Aug 02 2017 20:18:50,1014.384,1003.166,50.78648,-47.31813,3.3278,3.3295,3.229384,3.229393,...,7.37099,0.1336,96.7164 (avg),D:\Data\AR21_006.hex,50 47.19 N,047 19.09 W,2017-08-02T19:20:56Z,006,NaN,NaN
16,2,Aug 02 2017 20:23:07,810.168,801.600,50.78650,-47.31813,3.3664,3.3684,3.223647,3.224053,...,7.36421,0.1361,96.6560 (avg),D:\Data\AR21_006.hex,50 47.19 N,047 19.09 W,2017-08-02T19:20:56Z,006,NaN,NaN
17,3,Aug 02 2017 20:23:20,811.373,802.789,50.78650,-47.31812,3.3669,3.3692,3.223782,3.224155,...,7.36409,0.1357,96.6645 (avg),D:\Data\AR21_006.hex,50 47.19 N,047 19.09 W,2017-08-02T19:20:56Z,006,NaN,NaN
18,4,Aug 02 2017 20:32:38,304.822,301.965,50.78651,-47.31815,3.4852,3.4868,3.210429,3.210379,...,7.34360,0.1389,96.5876 (avg),D:\Data\AR21_006.hex,50 47.19 N,047 19.09 W,2017-08-02T19:20:56Z,006,NaN,NaN
19,5,Aug 02 2017 20:32:47,305.160,302.299,50.78650,-47.31815,3.4851,3.4871,3.210463,3.210406,...,7.34360,0.1390,96.5854 (avg),D:\Data\AR21_006.hex,50 47.19 N,047 19.09 W,2017-08-02T19:20:56Z,006,NaN,NaN
20,1,Aug 05 2017 20:52:18,1521.105,1501.294,59.92632,-39.51622,3.5712,3.5740,3.276132,3.276795,...,7.32512,0.1287,96.8334 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
21,2,Aug 05 2017 21:02:53,1013.408,1001.415,59.92631,-39.51622,3.3488,3.3502,3.230844,3.230991,...,7.36742,0.1307,96.7870 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
22,3,Aug 05 2017 21:12:52,507.294,501.899,59.92630,-39.51622,3.6138,3.6145,3.231838,3.234831,...,7.32009,0.1316,96.7638 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
23,4,Aug 05 2017 21:14:32,487.311,482.151,59.92632,-39.51620,3.6070,3.6087,3.233057,3.233292,...,7.31969,0.1310,96.7782 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
24,5,Aug 05 2017 21:19:33,254.824,252.267,59.92632,-39.51621,3.8944,3.8957,3.249823,3.249684,...,7.26780,0.1362,96.6535 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
25,6,Aug 05 2017 21:22:35,133.965,132.660,59.92632,-39.51619,4.3111,4.3108,3.282011,3.281741,...,7.19484,0.1400,96.5611 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
26,7,Aug 05 2017 21:23:56,104.540,103.529,59.92632,-39.51620,4.6717,4.6797,3.314777,3.315266,...,7.13199,0.1402,96.5542 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
27,8,Aug 05 2017 21:25:25,83.499,82.696,59.92630,-39.51622,4.8298,4.8413,3.327709,3.328255,...,7.10535,0.1455,96.4270 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
28,9,Aug 05 2017 21:28:53,24.163,23.934,59.92632,-39.51617,8.3050,8.3165,3.630749,3.631253,...,6.56385,0.3088,92.5718 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
29,10,Aug 05 2017 21:30:11,15.900,15.749,59.92630,-39.51623,8.4639,8.4626,3.645363,3.644988,...,6.54050,0.3251,92.1947 (avg),D:\Data\AR21_007.hex,59 55.58 N,039 30.97 W,2017-08-05T20:24:20Z,007,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,6,Aug 07 2017 17:49:42,762.212,753.657,59.71620,-39.33816,3.4729,3.4757,3.232450,3.232469,...,7.34418,0.1348,96.6863 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
73,7,Aug 07 2017 17:57:26,357.958,354.284,59.71620,-39.33817,3.6863,3.6879,3.234612,3.234504,...,7.30539,0.1375,96.6212 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
74,8,Aug 07 2017 18:01:12,186.628,184.789,59.71620,-39.33818,4.2097,4.2083,3.275566,3.275184,...,7.21229,0.1399,96.5619 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
75,9,Aug 07 2017 18:02:53,136.439,135.111,59.71620,-39.33818,4.4291,4.4308,3.293280,3.293166,...,7.17417,0.1426,96.4968 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
76,10,Aug 07 2017 18:04:26,95.936,95.011,59.71620,-39.33816,4.7780,4.7609,3.323970,3.321929,...,7.11392,0.1433,96.4811 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
77,11,Aug 07 2017 18:06:13,65.864,65.234,59.71620,-39.33818,5.1313,5.1649,3.355153,3.357995,...,7.05412,0.1466,96.4011 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
78,12,Aug 07 2017 18:07:52,36.246,35.902,59.71622,-39.33818,6.2518,6.2414,3.455019,3.453643,...,6.87166,0.2231,94.5747 (avg),D:\Data\AR21_010.hex,59 42.97 N,039 20.29 W,2017-08-07T16:14:21Z,010,NaN,NaN
79,1,Aug 08 2017 16:45:00,2694.099,2651.756,59.76960,-39.86104,1.6383,1.6380,3.151352,3.151159,...,7.68613,0.1408,96.5396 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
80,2,Aug 08 2017 16:57:52,2030.655,2001.832,59.76958,-39.86104,3.0931,3.0948,3.256316,3.256259,...,7.41032,0.1265,96.8852 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
81,3,Aug 08 2017 17:02:18,1832.684,1807.510,59.76960,-39.86104,3.2668,3.2686,3.263701,3.263656,...,7.37878,0.1273,96.8675 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
82,4,Aug 08 2017 17:08:42,1527.886,1507.982,59.76960,-39.86104,3.5608,3.5625,3.276953,3.276885,...,7.32611,0.1293,96.8187 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
83,5,Aug 08 2017 17:24:47,762.379,753.818,59.76958,-39.86106,3.4064,3.4079,3.225850,3.225758,...,7.35655,0.1317,96.7625 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
84,6,Aug 08 2017 17:32:38,357.919,354.244,59.76958,-39.86105,3.7380,3.7394,3.240147,3.240008,...,7.29566,0.1329,96.7318 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
85,7,Aug 08 2017 17:36:41,186.693,184.853,59.76959,-39.86104,4.1454,4.1468,3.270206,3.270064,...,7.22324,0.1365,96.6441 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
86,8,Aug 08 2017 17:38:50,136.242,134.916,59.76958,-39.86104,4.3132,4.3135,3.283010,3.282823,...,7.19408,0.1397,96.5677 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
87,9,Aug 08 2017 17:40:36,96.207,95.279,59.76958,-39.86104,4.4758,4.4760,3.294898,3.294636,...,7.16656,0.1405,96.5484 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
88,10,Aug 08 2017 17:42:23,65.899,65.269,59.76960,-39.86104,4.8529,4.8312,3.327780,3.325349,...,7.10212,0.1581,96.1244 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
89,11,Aug 08 2017 17:44:00,35.870,35.529,59.76960,-39.86104,7.1207,7.1176,3.527692,3.526895,...,6.73906,0.2495,93.9516 (avg),D:\Data\AR21_011.hex,59 46.18 N,039 51.66 W,2017-08-08T15:55:08Z,011,NaN,NaN
90,1,Aug 09 2017 13:22:30,1013.023,1001.041,59.85358,-39.12815,3.3917,3.3937,3.235283,3.235214,...,7.35930,0.1591,96.1004 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
91,2,Aug 09 2017 13:22:38,1012.963,1000.983,59.85358,-39.12816,3.3913,3.3931,3.235246,3.235149,...,7.35937,0.1575,96.1382 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
92,3,Aug 09 2017 13:27:22,810.035,800.843,59.85358,-39.12814,3.5219,3.5237,3.239404,3.239302,...,7.33511,0.1542,96.2168 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
93,4,Aug 09 2017 13:27:30,810.288,801.093,59.85358,-39.12814,3.5211,3.5229,3.239341,3.239244,...,7.33525,0.1541,96.2190 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
94,5,Aug 09 2017 13:35:58,405.967,401.750,59.85358,-39.12814,3.7697,3.7712,3.245311,3.245172,...,7.28995,0.1525,96.2596 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
95,6,Aug 09 2017 13:36:06,405.886,401.669,59.85358,-39.12814,3.7706,3.7720,3.245392,3.245252,...,7.28978,0.1519,96.2739 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
96,7,Aug 09 2017 13:44:07,54.053,53.536,59.85358,-39.12814,6.1175,6.0800,3.440019,3.436366,...,6.89496,0.1933,95.2834 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
97,8,Aug 09 2017 13:44:15,53.282,52.774,59.85358,-39.12814,6.0092,5.9721,3.430706,3.427387,...,6.91206,0.2008,95.1049 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
98,9,Aug 09 2017 13:45:47,33.099,32.785,59.85358,-39.12814,7.2738,7.2486,3.539824,3.537462,...,6.71648,0.2503,93.9348 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
99,10,Aug 09 2017 13:45:54,33.308,32.992,59.85358,-39.12814,7.3477,7.2948,3.546488,3.541621,...,6.70526,0.2507,93.9254 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
100,11,Aug 09 2017 13:47:50,5.929,5.873,59.85358,-39.12814,8.7644,8.7612,3.666858,3.666445,...,6.49963,0.2750,93.3555 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN
101,12,Aug 09 2017 13:47:57,5.633,5.579,59.85358,-39.12814,8.7511,8.7555,3.666036,3.666116,...,6.50136,0.2770,93.3103 (avg),D:\Data\AR21_012.hex,59 51.21 N,039 07.69 W,2017-08-09T13:01:16Z,012,NaN,NaN

In [53]:
result.to_csv(dirpath+'Irminger-4_Summary.csv')

In [58]:
# Now, need to include the nutrient bottle data
os.listdir('Irminger/Irminger-4/Water Sampling')

['.~lock.Irminger_Sea-04_AR21_Nutrients_Sample_Data_2017-09-20_ver_1-00.xlsx#',
 'Irminger_Sea-04_AR21_CTD_Sampling_Log.xlsx',
 'Irminger_Sea-04_AR21_CTD_Sampling_Logs_written.pdf',
 'Irminger_Sea-04_AR21_Nutrients_Sample_Data_2017-09-20_ver_1-00.xlsx',
 'Irminger_Sea-04_AR21_Oxygen_and_Salinity_Sample_Data']

In [70]:
nutrients = pd.read_excel('Irminger/Irminger-4/Water Sampling/Irminger_Sea-04_AR21_Nutrients_Sample_Data_2017-09-20_ver_1-00.xlsx',header=0)

In [71]:
nutrients.columns.values

array(['Sample ID', 'Cruise', 'Avg: Nitrate + Nitrite [mol/L]',
       'Avg: Ammonium [mol/L]', 'Avg: Phosphate [mol/L]',
       'Avg: Silicate [mol/L]', 'Avg: Nitrite [mol/L]',
       'Avg: Nitrate [mol/L]'], dtype=object)

In [72]:
nutrients

,Sample ID,Cruise,Avg: Nitrate + Nitrite [mol/L],Avg: Ammonium [mol/L],Avg: Phosphate [mol/L],Avg: Silicate [mol/L],Avg: Nitrite [mol/L],Avg: Nitrate [mol/L]
0,7-1,AR21,8.202829,1.1160,0.597241,5.578061,<0.04,8.162829
1,7-2,AR21,7.356260,1.1155,0.537812,4.344126,<0.04,7.316260
2,7-3,AR21,8.742555,1.2600,0.588400,5.171327,<0.04,8.702555
3,7-4,AR21,9.456192,1.0390,0.548126,5.188230,<0.04,9.416192
4,7-5,AR21,4.356785,0.8490,0.282904,1.024757,0.103333,4.253451
5,7-6,AR21,4.879019,0.6785,0.292236,1.239217,0.0713333,4.807686
6,12-1,AR21,5.594156,1.5190,0.520621,3.523264,<0.04,5.554156
7,12-2,AR21,7.290293,1.2500,0.628675,4.280739,0.0453333,7.244960
8,12-3,AR21,7.546163,1.3875,0.570228,4.156606,<0.04,7.506163
9,12-4,AR21,15.878926,1.0040,0.831029,6.879608,0.151333,15.727593
10,12-5,AR21,4.124903,1.6590,0.312373,1.205410,0.0723333,4.052569
11,12-6,AR21,2.855548,1.7120,0.277010,0.835653,<0.04,2.815548
12,12-7,AR21,2.813569,1.9460,0.242629,0.627532,<0.04,2.773569

In [73]:
result.columns.values

array(['Niskin #', 'Date Time', 'Pressure, Digiquartz [db]',
       'Depth [salt water, m]', 'Latitude [deg]', 'Longitude [deg]',
       'Temperature [ITS-90, deg C]', 'Temperature, 2 [ITS-90, deg C]',
       'Conductivity [S/m]', 'Conductivity, 2 [S/m]',
       'Salinity, Practical [PSU]', 'Salinity, Practical, 2 [PSU]',
       'Oxygen, SBE 43 [ml/l]',
       'Oxygen Saturation, Garcia & Gordon [ml/l]',
       'Beam Attenuation, WET Labs C-Star [1/m]',
       'Beam Transmission, WET Labs C-Star [%]', 'Hex name',
       'Start Latitude', 'Start Longitude', 'Start Time', 'Cast #',
       'Bottle Salinity [psu]', 'Bottle Oxy [mL/L]'], dtype=object)

In [74]:
sample_log.columns.values

array(['Sample Log: Cast #', 'Sample Log: Niskin #', 'Sample Log: Time',
       'Sample Log: Target Depth', 'Sample Log: Trip Depth',
       'Sample Log: Potential Temp', 'Sample Log: Salinity',
       'Sample Log: Oxygen Bottle #', 'Sample Log: Ph Bottle #',
       'Sample Log: DIC/TA Bottle #', 'Sample Log: Salts Bottle #',
       'Sample Log: Nitrate Bottle 1',
       'Sample Log: Chlorophyll Brown Bottle #',
       'Sample Log: Chlorophyll Filter Sample #',
       'Sample Log: Unnamed: 14',
       'Sample Log: Chlorophyll Brown Bottle Volume',
       'Sample Log: Chlorophyll LN Tube', 'Sample Log: Comments',
       'SAL: Cruise', 'SAL: Station', 'SAL: Niskin #', 'SAL: Case ID',
       'SAL: Sample', 'SAL: Salinity', 'SAL: Unit', 'OXY: Cruise',
       'OXY: Station', 'OXY: Niskin #', 'OXY: Case', 'OXY: Sample#',
       'OXY: Oxy', 'OXY: Unit'], dtype=object)

In [84]:
nutrient_bottles = sample_log['Sample Log: Nitrate Bottle 1'].str.split('\n').apply(pd.Series, 1).stack()
nutrient_bottles.index = nutrient_bottles.index.droplevel(-1)
nutrient_bottles.name = 'Nitrate Bottle #'

In [88]:
sample_log = sample_log.join(nutrient_bottles)

In [92]:
sample_log['Nitrate Bottle #'].iloc[5]

'7-1.'

In [94]:
sample_log['Nitrate Bottle #'] = sample_log['Nitrate Bottle #'].apply(lambda x: str(x).replace('.','') )

In [95]:
# Now I can add the nutrient bottle data to the sample log before loading
sample_log.merge(nutrients, how='left', left_on='Nitrate Bottle #', right_on='Sample ID')

,Sample Log: Cast #,Sample Log: Niskin #,Sample Log: Time,Sample Log: Target Depth,Sample Log: Trip Depth,Sample Log: Potential Temp,Sample Log: Salinity,Sample Log: Oxygen Bottle #,Sample Log: Ph Bottle #,Sample Log: DIC/TA Bottle #,...,OXY: Unit,Nitrate Bottle #,Sample ID,Cruise,Avg: Nitrate + Nitrite [mol/L],Avg: Ammonium [mol/L],Avg: Phosphate [mol/L],Avg: Silicate [mol/L],Avg: Nitrite [mol/L],Avg: Nitrate [mol/L]
0,006,1.0,NaN,NaN,1000.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,006,2.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,006,3.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006,4.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,006,5.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,007,1.0,20:51:00,1500.0,1500.0,1.99604,34.90,T1,NaN,NaN,...,mL/L,7-1,7-1,AR21,8.202829,1.1160,0.597241,5.578061,<0.04,8.162829
6,007,2.0,21:03:00,1000.0,1000.0,NaN,34.85,T2,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,007,3.0,21:12:00,500.0,500.0,NaN,34.86,T3,NaN,NaN,...,mL/L,7-2,7-2,AR21,7.356260,1.1155,0.537812,4.344126,<0.04,7.316260
8,007,4.0,21:13:00,480.0,480.0,NaN,34.88,T4,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,007,5.0,21:19:00,250.0,250.0,NaN,34.90,T5,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,007,6.0,21:22:00,130.0,130.0,NaN,34.91,T6,NaN,1087.0,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,007,7.0,21:23:00,100.0,100.0,NaN,34.92,T7,1088.0,1089.0,...,mL/L,7-3,7-3,AR21,8.742555,1.2600,0.588400,5.171327,<0.04,8.702555
12,007,7.0,21:23:00,100.0,100.0,NaN,34.92,T7,1088.0,1089.0,...,mL/L,7-4,7-4,AR21,9.456192,1.0390,0.548126,5.188230,<0.04,9.416192
13,007,8.0,21:25:00,80.0,80.0,NaN,34.92,T8,NaN,1090.0,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,007,9.0,21:27:00,40.0,40.0,NaN,34.94,T9,NaN,1091.0,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,007,10.0,21:28:00,20.0,20.0,NaN,34.78,T10,1092.0,1093.0,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,007,11.0,21:29:00,13.0,13.0,NaN,34.78,T11,1094.0,1095.0,...,mL/L,7-5,7-5,AR21,4.356785,0.8490,0.282904,1.024757,0.103333,4.253451
17,007,11.0,21:29:00,13.0,13.0,NaN,34.78,T11,1094.0,1095.0,...,mL/L,7-6,7-6,AR21,4.879019,0.6785,0.292236,1.239217,0.0713333,4.807686
18,007,12.0,21:31:00,2.0,3.0,NaN,34.79,T12,1096.0,1097.0,...,NaN,7-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,008,1.0,15:35:00,2600.0,2600.0,NaN,34.90,T12,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,008,2.0,15:38:00,2500.0,2500.0,NaN,34.88,T13,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,008,3.0,15:47:00,2100.0,2099.0,NaN,34.91,T14,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,008,4.0,15:53:00,1800.0,1799.0,NaN,34.90,T14,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,008,5.0,15:59:00,1500.0,1499.0,NaN,34.91,T15,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,008,6.0,16:05:00,1200.0,1199.0,NaN,34.86,T16,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,008,7.0,16:10:00,1000.0,999.0,NaN,34.85,T17,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,008,8.0,16:14:00,800.0,799.0,NaN,34.85,T18,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,008,9.0,16:19:00,600.0,599.0,NaN,34.87,T19,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,008,10.0,16:23:00,400.0,399.0,NaN,34.88,T20,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,008,11.0,16:27:00,200.0,199.0,NaN,34.90,T21,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,010,7.0,17:57:00,350.0,350.0,NaN,34.88,F7,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,010,8.0,18:01:00,180.0,180.0,NaN,34.91,F8,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,010,9.0,18:02:00,130.0,130.0,NaN,34.91,F9,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,010,10.0,18:04:00,90.0,90.0,NaN,34.92,F10,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,010,11.0,18:05:00,60.0,60.0,NaN,34.93,F11,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,010,12.0,18:07:00,30.0,30.0,NaN,34.91,F12,1096.0,1097.0,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,011,1.0,16:44:00,2650.0,2644.0,NaN,34.88,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,011,2.0,16:57:00,2000.0,1994.0,NaN,34.92,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,011,3.0,17:02:00,1800.0,1799.0,NaN,34.92,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,011,4.0,17:08:00,1500.0,1499.0,NaN,34.92,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,011,nan,17:19:00,1000.0,1003.0,NaN,34.85,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,011,5.0,17:24:00,750.0,750.0,NaN,34.86,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,011,6.0,17:32:00,350.0,350.0,NaN,34.90,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,011,7.0,17:36:00,180.0,180.0,NaN,34.91,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,011,8.0,17:38:00,130.0,130.0,NaN,34.91,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,011,9.0,17:40:00,90.0,90.0,NaN,34.90,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,011,10.0,17:42:00,60.0,60.0,NaN,34.90,NaN,NaN,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,011,11.0,17:43:00,30.0,30.0,NaN,34.83,1098,1099.0,NaN,...,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,012,1.0,13:22:00,1000.0,1000.0,NaN,34.86,T1,NaN,NaN,...,mL/L,12-1,12-1,AR21,5.594156,1.5190,0.520621,3.523264,<0.04,5.554156
56,012,2.0,13:22:00,1000.0,1000.0,NaN,NaN,T2,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,012,3.0,13:27:00,800.0,799.0,NaN,34.88,T3,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,012,4.0,13:27:00,800.0,799.0,NaN,NaN,T4,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,012,5.0,13:35:00,400.0,399.0,NaN,34.90,T5,NaN,NaN,...,mL/L,12-2,12-2,AR21,7.290293,1.2500,0.628675,4.280739,0.0453333,7.244960
60,012,6.0,13:35:00,400.0,399.0,NaN,NaN,T6,NaN,NaN,...,mL/L,12-3,12-3,AR21,7.546163,1.3875,0.570228,4.156606,<0.04,7.506163
61,012,7.0,13:43:00,50.0,50.0,NaN,34.90,T7,NaN,NaN,...,mL/L,12-4,12-4,AR21,15.878926,1.0040,0.831029,6.879608,0.151333,15.727593
62,012,8.0,13:43:00,50.0,50.0,NaN,NaN,T8,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,012,9.0,13:45:00,30.0,30.0,NaN,34.82,T9,NaN,NaN,...,mL/L,12-5,12-5,AR21,4.124903,1.6590,0.312373,1.205410,0.0723333,4.052569
64,012,10.0,13:45:00,30.0,30.0,NaN,NaN,T10,NaN,NaN,...,mL/L,12-6,12-6,AR21,2.855548,1.7120,0.277010,0.835653,<0.04,2.815548
65,012,11.0,13:?,2.5,2.5,NaN,34.73,T11,NaN,NaN,...,mL/L,12-7,12-7,AR21,2.813569,1.9460,0.242629,0.627532,<0.04,2.773569
66,012,12.0,13:?,2.5,2.5,NaN,NaN,T12,NaN,NaN,...,mL/L,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
nutrients

,Sample ID,Cruise,Avg: Nitrate + Nitrite [mol/L],Avg: Ammonium [mol/L],Avg: Phosphate [mol/L],Avg: Silicate [mol/L],Avg: Nitrite [mol/L],Avg: Nitrate [mol/L]
0,7-1,AR21,8.202829,1.1160,0.597241,5.578061,<0.04,8.162829
1,7-2,AR21,7.356260,1.1155,0.537812,4.344126,<0.04,7.316260
2,7-3,AR21,8.742555,1.2600,0.588400,5.171327,<0.04,8.702555
3,7-4,AR21,9.456192,1.0390,0.548126,5.188230,<0.04,9.416192
4,7-5,AR21,4.356785,0.8490,0.282904,1.024757,0.103333,4.253451
5,7-6,AR21,4.879019,0.6785,0.292236,1.239217,0.0713333,4.807686
6,12-1,AR21,5.594156,1.5190,0.520621,3.523264,<0.04,5.554156
7,12-2,AR21,7.290293,1.2500,0.628675,4.280739,0.0453333,7.244960
8,12-3,AR21,7.546163,1.3875,0.570228,4.156606,<0.04,7.506163
9,12-4,AR21,15.878926,1.0040,0.831029,6.879608,0.151333,15.727593
10,12-5,AR21,4.124903,1.6590,0.312373,1.205410,0.0723333,4.052569
11,12-6,AR21,2.855548,1.7120,0.277010,0.835653,<0.04,2.815548
12,12-7,AR21,2.813569,1.9460,0.242629,0.627532,<0.04,2.773569

In [80]:
A.index = A.index.droplevel(-1)
A

5      7-1.
7      7-2.
11     7-3.
11     7-4.
15     7-5.
15     7-6.
16     7-7.
53    12-1.
57    12-2.
58    12-3.
59    12-4.
61    12-5.
62    12-6.
63    12-7.
dtype: object

In [81]:
A1 = sample_log

In [82]:
A.name = 'Nitrate Bottle #'

In [83]:
A1.join(A)

,Sample Log: Cast #,Sample Log: Niskin #,Sample Log: Time,Sample Log: Target Depth,Sample Log: Trip Depth,Sample Log: Potential Temp,Sample Log: Salinity,Sample Log: Oxygen Bottle #,Sample Log: Ph Bottle #,Sample Log: DIC/TA Bottle #,...,SAL: Salinity,SAL: Unit,OXY: Cruise,OXY: Station,OXY: Niskin #,OXY: Case,OXY: Sample#,OXY: Oxy,OXY: Unit,Nitrate Bottle #
0,006,1.0,NaN,NaN,1000.0,NaN,34.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,006,2.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,006,3.0,NaN,NaN,800.0,NaN,34.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,006,4.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,006,5.0,NaN,NaN,300.0,NaN,34.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,007,1.0,20:51:00,1500.0,1500.0,1.99604,34.90,T1,NaN,NaN,...,34.9281,psu,AR21,007,1,T,T1,6.445,mL/L,7-1.
6,007,2.0,21:03:00,1000.0,1000.0,NaN,34.85,T2,NaN,NaN,...,34.8731,psu,AR21,007,2,T,T2,6.927,mL/L,NaN
7,007,3.0,21:12:00,500.0,500.0,NaN,34.86,T3,NaN,NaN,...,34.8958,psu,AR21,007,3,T,T3,6.872,mL/L,7-2.
8,007,4.0,21:13:00,480.0,480.0,NaN,34.88,T4,NaN,NaN,...,34.8954,psu,AR21,007,4,T,T4,6.917,mL/L,NaN
9,007,5.0,21:19:00,250.0,250.0,NaN,34.90,T5,NaN,NaN,...,34.9111,psu,AR21,007,5,T,T5,6.785,mL/L,NaN
10,007,6.0,21:22:00,130.0,130.0,NaN,34.91,T6,NaN,1087.0,...,34.9291,psu,AR21,007,6,T,T6,6.751,mL/L,NaN
11,007,7.0,21:23:00,100.0,100.0,NaN,34.92,T7,1088.0,1089.0,...,34.9704,psu,AR21,007,7,T,T7,6.695,mL/L,7-3.
11,007,7.0,21:23:00,100.0,100.0,NaN,34.92,T7,1088.0,1089.0,...,34.9704,psu,AR21,007,7,T,T7,6.695,mL/L,7-4.
12,007,8.0,21:25:00,80.0,80.0,NaN,34.92,T8,NaN,1090.0,...,34.9531,psu,AR21,007,8,T,T8,6.707,mL/L,NaN
13,007,9.0,21:27:00,40.0,40.0,NaN,34.94,T9,NaN,1091.0,...,34.8012,psu,AR21,007,9,T,T9,6.942,mL/L,NaN
14,007,10.0,21:28:00,20.0,20.0,NaN,34.78,T10,1092.0,1093.0,...,34.7959,psu,AR21,007,10,T,T10,6.893,mL/L,NaN
15,007,11.0,21:29:00,13.0,13.0,NaN,34.78,T11,1094.0,1095.0,...,34.7963,psu,AR21,007,11,T,T11,6.925,mL/L,7-5.
15,007,11.0,21:29:00,13.0,13.0,NaN,34.78,T11,1094.0,1095.0,...,34.7963,psu,AR21,007,11,T,T11,6.925,mL/L,7-6.
16,007,12.0,21:31:00,2.0,3.0,NaN,34.79,T12,1096.0,1097.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7-7.
17,008,1.0,15:35:00,2600.0,2600.0,NaN,34.90,T12,NaN,NaN,...,34.9131,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,008,2.0,15:38:00,2500.0,2500.0,NaN,34.88,T13,NaN,NaN,...,34.8966,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,008,3.0,15:47:00,2100.0,2099.0,NaN,34.91,T14,NaN,NaN,...,34.9326,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,008,4.0,15:53:00,1800.0,1799.0,NaN,34.90,T14,NaN,NaN,...,34.9326,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,008,5.0,15:59:00,1500.0,1499.0,NaN,34.91,T15,NaN,NaN,...,34.9265,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,008,6.0,16:05:00,1200.0,1199.0,NaN,34.86,T16,NaN,NaN,...,34.8678,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,008,7.0,16:10:00,1000.0,999.0,NaN,34.85,T17,NaN,NaN,...,34.8660,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,008,8.0,16:14:00,800.0,799.0,NaN,34.85,T18,NaN,NaN,...,34.8747,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,008,9.0,16:19:00,600.0,599.0,NaN,34.87,T19,NaN,NaN,...,34.8851,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,008,10.0,16:23:00,400.0,399.0,NaN,34.88,T20,NaN,NaN,...,34.8940,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,008,11.0,16:27:00,200.0,199.0,NaN,34.90,T21,NaN,NaN,...,34.9092,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,010,7.0,17:57:00,350.0,350.0,NaN,34.88,F7,NaN,NaN,...,34.9074,psu,AR21,010,7,F,F7,6.840,mL/L,NaN
36,010,8.0,18:01:00,180.0,180.0,NaN,34.91,F8,NaN,NaN,...,34.9293,psu,AR21,010,8,F,F8,6.663,mL/L,NaN
37,010,9.0,18:02:00,130.0,130.0,NaN,34.91,F9,NaN,NaN,...,34.9340,psu,AR21,010,9,F,F9,6.594,mL/L,NaN
38,010,10.0,18:04:00,90.0,90.0,NaN,34.92,F10,NaN,NaN,...,34.9933,psu,AR21,010,10,F,F10,6.628,mL/L,NaN
39,010,11.0,18:05:00,60.0,60.0,NaN,34.93,F11,NaN,NaN,...,35.0237,psu,AR21,010,11,F,F11,6.682,mL/L,NaN
40,010,12.0,18:07:00,30.0,30.0,NaN,34.91,F12,1096.0,1097.0,...,34.9777,psu,AR21,010,12,F,F12,6.843,mL/L,NaN
41,011,1.0,16:44:00,2650.0,2644.0,NaN,34.88,NaN,NaN,NaN,...,34.9281,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,011,2.0,16:57:00,2000.0,1994.0,NaN,34.92,NaN,NaN,NaN,...,34.8731,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,011,3.0,17:02:00,1800.0,1799.0,NaN,34.92,NaN,NaN,NaN,...,34.8958,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,011,4.0,17:08:00,1500.0,1499.0,NaN,34.92,NaN,NaN,NaN,...,34.8954,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,011,nan,17:19:00,1000.0,1003.0,NaN,34.85,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,011,5.0,17:24:00,750.0,750.0,NaN,34.86,NaN,NaN,NaN,...,34.9111,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,011,6.0,17:32:00,350.0,350.0,NaN,34.90,NaN,NaN,NaN,...,34.9291,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,011,7.0,17:36:00,180.0,180.0,NaN,34.91,NaN,NaN,NaN,...,34.9704,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,011,8.0,17:38:00,130.0,130.0,NaN,34.91,NaN,NaN,NaN,...,34.9531,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,011,9.0,17:40:00,90.0,90.0,NaN,34.90,NaN,NaN,NaN,...,34.8012,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,011,10.0,17:42:00,60.0,60.0,NaN,34.90,NaN,NaN,NaN,...,34.7959,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,011,11.0,17:43:00,30.0,30.0,NaN,34.83,1098,1099.0,NaN,...,34.7963,psu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,012,1.0,13:22:00,1000.0,1000.0,NaN,34.86,T1,NaN,NaN,...,34.8684,psu,AR21,012,1,T,T1,6.849,mL/L,12-1.
54,012,2.0,13:22:00,1000.0,1000.0,NaN,NaN,T2,NaN,NaN,...,34.8708,psu,AR21,012,2,T,T2,6.869,mL/L,NaN
55,012,3.0,13:27:00,800.0,799.0,NaN,34.88,T3,NaN,NaN,...,34.8853,psu,AR21,012,3,T,T3,6.874,mL/L,NaN
56,012,4.0,13:27:00,800.0,799.0,NaN,NaN,T4,NaN,NaN,...,34.8857,psu,AR21,012,4,T,T4,6.818,mL/L,NaN
57,012,5.0,13:35:00,400.0,399.0,NaN,34.90,T5,NaN,NaN,...,34.9054,psu,AR21,012,5,T,T5,6.779,mL/L,12-2.
58,012,6.0,13:35:00,400.0,399.0,NaN,NaN,T6,NaN,NaN,...,34.9206,psu,AR21,012,6,T,T6,6.799,mL/L,12-3.
59,012,7.0,13:43:00,50.0,50.0,NaN,34.90,T7,NaN,NaN,...,34.8968,psu,AR21,012,7,T,T7,6.826,mL/L,12-4.
60,012,8.0,13:43:00,50.0,50.0,NaN,NaN,T8,NaN,NaN,...,34.9200,psu,AR21,012,8,T,T8,6.818,mL/L,NaN
61,012,9.0,13:45:00,30.0,30.0,NaN,34.82,T9,NaN,NaN,...,34.8186,psu,AR21,012,9,T,T9,6.883,mL/L,12-5.
62,012,10.0,13:45:00,30.0,30.0,NaN,NaN,T10,NaN,NaN,...,34.8257,psu,AR21,012,10,T,T10,6.889,mL/L,12-6.
63,012,11.0,13:?,2.5,2.5,NaN,34.73,T11,NaN,NaN,...,34.7410,psu,AR21,012,11,T,T11,6.715,mL/L,12-7.
64,012,12.0,13:?,2.5,2.5,NaN,NaN,T12,NaN,NaN,...,34.7392,psu,AR21,012,12,T,T12,6.721,mL/L,NaN