# Bottle Processing
Author: Andrew Reed

### Motivation:
Independent verification of the suite of physical and chemical observations provided by OOI are critical for the observations to be of use for scientifically valid investigations. Consequently, CTD casts and Niskin water samples are made during deployment and recovery of OOI platforms, vehicles, and instrumentation. The water samples are subsequently analyzed by independent labs for  comparison with the OOI telemetered and recovered data.

However, currently the water sample data routinely collected and analyzed as part of the OOI program are not available in a standardized format which maps the different chemical analyses to the physical measurements taken at bottle closure. Our aim is to make these physical and chemical analyses of collected water samples available to the end-user in a standardized format for easy comprehension and use, while maintaining the source data files. 

### Approach:
Generating a summary of the water sample analyses involves preprocessing and concatenating multiple data sources, and accurately matching samples with each other. To do this, I first preprocess the ctd casts to generate bottle (.btl) files using the SeaBird vendor software following the SOP available on Alfresco. 

Next, the bottle files are parsed using python code and the data renamed following SeaBird's naming guide. This creates a series of individual cast summary (.sum) files. These files are then loaded into pandas dataframes, appended to each other, and exported as a csv file containing all of the bottle data in a single data file.

### Data Sources/Software:

* **sbe_name_map**: This is a spreadsheet which maps the short names generated by the SeaBird SBE DataProcessing Software to the associated full names. The name mapping originates from SeaBird's SBE DataProcessing support documentation.

* **Alfresco**: The Alfresco CMS for OOI at alfresco.oceanobservatories.org is the source of the ctd hex, xmlcon, and psa files necessary for generating the bottle files needed to create the sample summary sheet.

* **SBEDataProcessing-Win32**: SeaBird vendor software for processing the raw ctd files and generating the .btl files.

**========================================================================================================================**
Import packages which will be used in this notebook:

In [1]:
import os, sys, re
import pandas as pd
import numpy as np

Load the name mapping for the column names based on SeaBird's manual:

In [2]:
sbe_name_map = pd.read_excel('/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Reference_Files/seabird_ctd_name_map.xlsx')

In [3]:
sbe_name_map.head()

,Short Name,Full Name,Friendly Name,Units,Notes/Comments
0,accM,Acceleration [m/s^2],acc M,m/s^2,NaN
1,accF,Acceleration [ft/s^2],acc F,ft/s^2,NaN
2,altM,Altimeter [m],alt M,m,NaN
3,altF,Altimeter [ft],alt F,ft,NaN
4,avgsvCM,"Average Sound Velocity [Chen-Millero, m/s]",avgsv-C M,"Chen-Millero, m/s",NaN

**========================================================================================================================**
Declare the directory paths to where the relevant information is stored:

In [142]:
basepath = '/home/andrew/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/'
array = 'Pioneer/'
cruise = 'Pioneer-08_AR-18_2017-05-30/'
leg = 'Leg 3 (ar18c)/'
water = 'Water Sampling/'
ctd = 'ctd/'

In [143]:
bottle_path = basepath+array+cruise+leg+ctd
water_path = basepath+array+cruise+water
salts_and_o2_path = water_path+'Pioneer-08_AR-18C_2017-05-30_Oxygen_Salinity_Sample_Data/'
sample_log_path = water_path+'Pioneer-08_AR-18C_CTD_sampling_log.xlsx'

In [144]:
# Parse the data for the start_time
def parse_header(header):
    """
    Parse the header of bottle (.btl) files to get critical information
    for the summary spreadsheet.
    
    Args:
        header - an object containing the header of the bottle file as a list of
            strings, split at the newline.
    Returns:
        hdr - a dictionary object containing the start_time, filename, latitude,
            longitude, and cruise id.
    """
    hdr = {}
    for line in header:
        if 'start_time' in line.lower():
            start_time = pd.to_datetime(re.split('= |\[',line)[1])
            hdr.update({'Start Time [UTC]':start_time.strftime('%Y-%m-%dT%H:%M:%SZ')})
        elif 'filename' in line.lower():
            hex_name = re.split('=',line)[1].strip()
            hdr.update({'Filename':hex_name})
        elif 'latitude' in line.lower():
            start_lat = re.split('=',line)[1].strip()
            hdr.update({'Start Latitude [degrees]':start_lat})
        elif 'longitude' in line.lower():
            start_lon = re.split('=',line)[1].strip()
            hdr.update({'Start Longitude [degrees]':start_lon})
        elif 'cruise id' in line.lower():
            cruise_id = re.split(':',line)[1].strip()
            hdr.update({'Cruise':cruise_id})
        else:
            pass
    
    return hdr

Get the path to the ctd-bottle data, load it, and parse it:

In [145]:
os.listdir(bottle_path)

['ar18c_998.bl',
 'ar18c002.bl',
 'ar18c008.btl',
 'ar18c005.btl',
 'ar18c001.btl',
 'ar18c025.hex',
 'ar18c002.ros',
 'ar18c016.btl',
 'ar18c003.hdr',
 'ar18c014.ros',
 'AR18C018.XMLCON',
 'AR18C001.XMLCON',
 'ar18c014.hdr',
 'AR18C011.XMLCON',
 'ar18c009.sum',
 'ar18c008.ros',
 'ar18c010.hdr',
 'armstrong_383_2017.XMLCON',
 'ar18c018.hdr',
 'ar18c007.ros',
 'AR18C005.XMLCON',
 'ar18c002.hdr',
 'ar18c015.sum',
 'ar18c024.bl',
 'ar18c012.sum',
 'ar18c025.bl',
 'AR18C020.XMLCON',
 'AR18C006.XMLCON',
 'ar18c012.hex',
 'ar18c003.bl',
 'ar18c005.bl',
 'AR18C023.XMLCON',
 'ar18c004.bl',
 'CTD_Summary.csv',
 'ar18c011.ros',
 'ar18c001.bl',
 'ar18c016.hdr',
 'ar18c012.bl',
 'ar18c019.hex',
 'AR18C016.XMLCON',
 'ar18c020.hdr',
 'ar18c010.sum',
 'ar18c023.hex',
 'AR18C024.XMLCON',
 'ar18c_setup.psa',
 'ar18c018.bl',
 'ar18c013.hdr',
 'ar18c_998.hdr',
 'ar18c007.bl',
 'ar18c021.bl',
 'ar18c002.sum',
 'ar18c009.btl',
 'ar18c009.ros',
 'doc',
 'ar18c010.ros',
 'ar18c020.ros',
 'seasave_armstrong_2017.psa',
 'ar18c019.bl',
 'ar18c009.bl',
 'ar18c024.ros',
 'ar18c003.ros',
 'AR18C008.XMLCON',
 'ar18c008.bl',
 'ar18c012.ros',
 'ar18c004.hdr',
 'AR18C025.XMLCON',
 'AR18C010.XMLCON',
 'ar18c024.hex',
 'ar18c025.btl',
 'ar18c015.bl',
 'ar18c006.bl',
 'ar18c013.bl',
 'ar18c001.sum',
 'ar18c012.hdr',
 'ar18c004.ros',
 'ar18c017.hdr',
 'ar18c017.bl',
 'ar18c014.bl',
 'AR18C022.XMLCON',
 'ar18c010.hex',
 'process',
 'ar18c007.sum',
 'ar18c010.btl',
 'ar18c001.ros',
 'ar18c015.btl',
 'ar18c023.hdr',
 'ar18c007.hdr',
 'ar18c009.hex',
 'AR18C015.XMLCON',
 'ar18c005.ros',
 'ar18c019.hdr',
 'ar18c015.hex',
 'AR18C007.XMLCON',
 'ar18c007.btl',
 'ar18c023.bl',
 'ar18c009.hdr',
 'ar18c003.sum',
 'ar18c011.sum',
 'ar18c015.ros',
 'ar18c024.sum',
 'ar18c020.sum',
 'ar18c006.hex',
 'ar18c012.btl',
 'ar18c011.btl',
 'ar18c011.hdr',
 'ar18c021.sum',
 'ar18c014.btl',
 'AR18C013.XMLCON',
 'AR18C012.XMLCON',
 'ar18c017.btl',
 'ar18c001.hdr',
 'AR18C019.XMLCON',
 'ar18c018.hex',
 'ar18c011.bl',
 'ar18c022.btl',
 'ar18c022.ros',
 'ar18c014.hex',
 'ar18c008.hdr',
 'ar18c003.btl',
 'ar18c018.btl',
 'AR18C_998.XMLCON',
 'ar18c025.hdr',
 'ar18c013.btl',
 'ar18c005.hdr',
 'ar18c016.ros',
 'ar18c021.hex',
 'ar18c006.hdr',
 'ar18c004.sum',
 'ar18c003.hex',
 'ar18c005.sum',
 'ar18c006.sum',
 'ar18c016.bl',
 'ar18c006.ros',
 'ar18c001.hex',
 'ar18c020.btl',
 'ar18c022.hdr',
 'AR18C014.XMLCON',
 'ar18c002.btl',
 'AR18C004.XMLCON',
 'ar18c021.ros',
 'ar18c008.hex',
 'DO_NOT_USE_BUT_HOLD',
 'ar18c013.hex',
 'ar18c019.ros',
 'ar18c_999.bl',
 'ar18c022.bl',
 'ar18c008.sum',
 'ar18c_999.hex',
 'ar18c019.btl',
 'ar18c002.hex',
 'ar18c018.ros',
 'ar18c011.hex',
 'ar18c005.hex',
 'ar18c_998.hex',
 'ar18c004.hex',
 'ar18c015.hdr',
 'ar18c017.ros',
 'ar18c024.hdr',
 'ar18c016.sum',
 'ar18c013.ros',
 'AR18C017.XMLCON',
 'ar18c018.sum',
 'ar18c017.sum',
 'ar18c020.hex',
 'ar18c025.ros',
 'AR18C021.XMLCON',
 'ar18c014.sum',
 'ar18c022.sum',
 'AR18C003.XMLCON',
 'ar18c021.btl',
 'ar18c020.bl',
 'ar18c013.sum',
 'AR18C_999.XMLCON',
 'AR18C009.XMLCON',
 'ar18c007.hex',
 'ar18c024.btl',
 'ar18c_999.hdr',
 'ar18c025.sum',
 'ar18c019.sum',
 'ar18c021.hdr',
 'ar18c006.btl',
 'ar18c016.hex',
 'ar18c017.hex',
 'AR18C002.XMLCON',
 'ar18c022.hex',
 'ar18c010.bl',
 'ar18c004.btl']

In [146]:
# Now write a function to autopopulate the bottle summary sample sheet
files = [x for x in os.listdir(bottle_path) if '.btl' in x]
for filename in files:
    filepath = os.path.abspath(bottle_path+filename)
    
    # Load the raw content into memory
    with open(filepath) as file:
        content = file.readlines()
    content = [x.strip() for x in content]
    
    # Now parse the file content
    header = []
    columns = []
    data = []
    for line in content:
        if line.startswith('*') or line.startswith('#'):
            header.append(line)
        else:
            try:
                float(line[0])
                data.append(line)
            except:
                columns.append(line)
                
    # Parse the header
    hdr = parse_header(header)
    
    # Parse the column identifiers
    column_dict = {}
    for line in columns:
        for i,x in enumerate(line.split()):
            try:
                column_dict[i] = column_dict[i] + ' ' + x
            except:
                column_dict.update({i:x})
                
    #Parse the bottle data based on the column header locations
    data_dict = {x:[] for x in column_dict.keys()}

    for line in data:
        if line.endswith('(avg)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            for i,x in enumerate(values):
                data_dict[i].append(x)
        elif line.endswith('(sdev)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            data_dict[1].append(values[0])
        else:
            pass
    
    # Join the date and time for each measurement into a single item
    data_dict[1] = [' '.join(item) for item in zip(data_dict[1][::2],data_dict[1][1::2])]
    
    # With the parsed data and column names, match up the data and column
    # based on the location
    results = {}
    for key,item in column_dict.items():
        values = data_dict[key]
        results.update({item:values})
        
    # Put the results into a dataframe
    df = pd.DataFrame.from_dict(results)

    # Now add the parsed info from the header files into the dataframe
    for key,item in hdr.items():
        df[key] = item
        
    # Get the cast number
    cast = filename[filename.index('.')-3:filename.index('.')]
    df['Cast'] = str(cast).zfill(3)
    
    # Add the header info back in
    for key in hdr.keys():
        df[key] = hdr[key]
        
    # Generate a filename for the summary file
    outname = filename.split('.')[0] + '.sum'
    
    # Save the results
    df.to_csv(bottle_path+outname)

In [147]:
# Now, for each "summary" file, load and append to each other
df = pd.DataFrame()
for file in os.listdir(bottle_path):
    if '.sum' in file:
        df = df.append(pd.read_csv(bottle_path+file))
    else:
        pass

In [148]:
sbe_name_map['Short Name'].apply(lambda x: str(x).lower());

In [149]:
# Rename the column title using the sbe_name_mapping 
for colname in list(df.columns.values):
    try:
        fullname = list(sbe_name_map[sbe_name_map['Short Name'].apply(lambda x: str(x).lower() == colname.lower()) == True]['Full Name'])[0]
        df.rename({colname:fullname},axis='columns',inplace=True)
    except:
        pass

In [150]:
df.sort_values(by=['Cast','Bottle Position'], inplace=True)
df.drop(columns='Unnamed: 0',inplace=True)
bottles = df

In [151]:
df.to_csv(bottle_path+'CTD_Summary.csv')

**========================================================================================================================**
### Process the Discrete Salinity and Oxygen Data
Next, I process the discrete salinity and oxygen sample data so that it is consistently named and ready to be merged with the existing data sets.

In [152]:
def clean_sal_files(dirpath):

    # Run check if files are held in excel format or csvs
    csv_flag = any(files.endswith('.SAL') for files in os.listdir(dirpath))
    if csv_flag:
        for filename in os.listdir(dirpath):
            sample = []
            salinity = []
            if filename.endswith('.SAL'):
                with open(dirpath+filename) as file:
                    data = file.readlines()
                    for ind1,line in enumerate(data):
                        if ind1 == 0:
                            strs = data[0].replace('"','').split(',')
                            cruisename = strs[0]
                            station = strs[1]
                            cast = strs[2]
                            case = strs[8]
                        elif int(line.split()[0]) == 0:
                            pass
                        else:
                            strs = line.split()
                            sample.append(strs[0])
                            salinity.append(strs[2])
                
                    # Generate a pandas dataframe to populate data
                    data_dict = {'Cruise':cruisename,'Station':station,'Cast':cast,'Case':case,'Sample ID':sample,'Salinity [psu]':salinity}
                    df = pd.DataFrame.from_dict(data_dict)
                    df.to_csv(file.name.replace('.','')+'.csv')
            else:
                pass
    
    else:
        # If the files are already in excel spreadsheets, they've been cleaned into a
        # logical tabular format
        pass
    

def process_sal_files(dirpath):
    
    # Check if the files are excel files or not
    excel_flag = any(files.endswith('SAL.xlsx') for files in os.listdir(dirpath))
    # Initialize a dataframe for processing the salinity files
    df = pd.DataFrame()
    if excel_flag:
        for file in os.listdir(dirpath):
            if 'SAL.xlsx' in file:
                df = df.append(pd.read_excel(dirpath+file))
        df.rename({'Sample':'Sample ID','Salinity':'Salinity [psu]','Niskin #':'Niskin','Case ID':'Case'}, 
                  axis='columns',inplace=True)
        df.dropna(inplace=True)
        df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
        df['Niskin'] = df['Niskin'].apply(lambda x: str( int(x)))
        df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
    else:
        for file in os.listdir(dirpath):
            if 'SAL.csv' in file:
                df = df.append(pd.read_csv(dirpath+file))
        df.dropna(inplace=True)
        df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
        df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
        df.drop(columns=[x for x in list(df.columns.values) if 'unnamed' in x.lower()],inplace=True)

    # Save the processed summary file for salinity
    df.to_csv(dirpath+'SAL_Summary.csv')
    
    
def process_oxy_files(dirpath):
    df = pd.DataFrame()
    for filename in os.listdir(dirpath):
        if 'oxy' in filename.lower() and filename.endswith('.xlsx'):
            df = df.append(pd.read_excel(dirpath+filename)) 
            # Rename and clean up the oxygen data to be uniform across data sets
    df.rename({'Niskin #':'Niskin','Sample#':'Sample ID','Oxy':'Oxygen [mL/L]','Unit':'Units'},
              axis='columns',inplace=True)
    df.dropna(inplace=True)
    df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
    df['Niskin'] = df['Niskin'].apply(lambda x: str( int(x)))
    df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
    df['Cruise'] = df['Cruise'].apply(lambda x: x.replace('O','0'))
    
    # Save the processed summary file for oxygen
    df.to_csv(dirpath+'OXY_Summary.csv')

In [153]:
os.listdir(salts_and_o2_path)

['004.SAL',
 'SAL_Summary.csv',
 '001OXY.xlsx',
 'OXY_Summary.csv',
 '004OXY.xlsx',
 '003SAL.csv',
 '004SAL.csv',
 '001SAL.xlsx',
 '004SAL.xlsx',
 '002OXY.xlsx',
 '002SAL.xlsx',
 '002.SAL',
 '002SAL.csv',
 '003SAL.xlsx',
 '003OXY.xlsx',
 '001SAL.csv',
 '003.SAL',
 '001.SAL']

In [154]:
# Now process the salts and oxygen data
    # Clean the salinity
clean_sal_files(salts_and_o2_path)
    # Process the salinity files
process_sal_files(salts_and_o2_path)
    # Process the oxygen files
process_oxy_files(salts_and_o2_path)

In [155]:
sal = pd.read_csv(salts_and_o2_path+'SAL_Summary.csv')
sal.drop(columns='Unnamed: 0', inplace=True)

In [156]:
sal

    Cruise  Station  Niskin Case  Sample ID  Salinity [psu] Unit
0   AR18-C        1       1    B          1         34.2113  psu
1   AR18-C        1       2    B          2         34.2105  psu
2   AR18-C        1       3    B          3         33.4860  psu
3   AR18-C        1       4    B          4         33.4699  psu
4   AR18-C        1       5    B          5         32.4733  psu
5   AR18-C        1       6    B          6         32.4696  psu
6   AR18-C        1       7    B          7         32.3755  psu
7   AR18-C        1       8    B          8         32.3900  psu
8   AR18-C        4       1    B          1         33.9083  psu
9   AR18-C        4       2    B          2         33.9087  psu
10  AR18-C        4       3    B          3         32.6200  psu
11  AR18-C        4       4    B          4         32.6196  psu
12  AR18-C        4       5    B          5         32.4704  psu
13  AR18-C        4       6    B          6         32.4778  psu
14  AR18-C        4       7    B          7         32.1429  psu
15  AR18-C        4       8    B          8         32.1351  psu
16  AR18-C        2       1    S          1         35.3668  psu
17  AR18-C        2       2    S          2         35.3644  psu
18  AR18-C        2       3    S          3         33.5090  psu
19  AR18-C        2       4    S          4         33.5055  psu
20  AR18-C        2       5    S          5         33.3086  psu
21  AR18-C        2       6    S          6         33.3045  psu
22  AR18-C        2       7    S          7         32.6591  psu
23  AR18-C        2       8    S          8         32.6665  psu
24  AR18-C        3       1    S          9         35.3035  psu
25  AR18-C        3       2    S         10         35.3139  psu
26  AR18-C        3       3    S         11         33.2041  psu
27  AR18-C        3       4    S         12         33.1971  psu
28  AR18-C        3       5    S         13         32.6988  psu
29  AR18-C        3       6    S         14         32.7008  psu
30  AR18-C        3       7    S         15         32.2153  psu
31  AR18-C        3       8    S         16         32.2140  psu

In [157]:
oxy = pd.read_csv(salts_and_o2_path+'OXY_Summary.csv')
oxy.drop(columns='Unnamed: 0', inplace=True)

In [158]:
oxy

    Cruise  Station  Niskin Case  Sample ID  Oxygen [mL/L] Units
0   AR18-C        1       1    F          1          5.183  mL/L
1   AR18-C        1       2    F          2          5.181  mL/L
2   AR18-C        1       3    F          3          5.934  mL/L
3   AR18-C        1       4    F          4          5.958  mL/L
4   AR18-C        1       5    F          5          7.092  mL/L
5   AR18-C        1       6    F          6          7.148  mL/L
6   AR18-C        1       7    F          7          6.646  mL/L
7   AR18-C        1       8    F          8          6.676  mL/L
8   AT18-C        4       1    T          1          5.332  mL/L
9   AT18-C        4       2    T          2          5.329  mL/L
10  AT18-C        4       3    T          3          6.349  mL/L
11  AT18-C        4       4    T          4          6.353  mL/L
12  AT18-C        4       5    T          5          6.738  mL/L
13  AT18-C        4       6    T          6          6.754  mL/L
14  AT18-C        4       7    T          7          6.835  mL/L
15  AT18-C        4       8    T          8          6.814  mL/L
16  AR18-C        2       1    T          1          4.320  mL/L
17  AR18-C        2       2    T          2          4.335  mL/L
18  AR18-C        2       3    T          3          5.989  mL/L
19  AR18-C        2       4    T          4          5.990  mL/L
20  AR18-C        2       5    T          5          6.459  mL/L
21  AR18-C        2       6    T          6          6.439  mL/L
22  AR18-C        2       7    T          7          6.830  mL/L
23  AR18-C        2       8    T          8          6.827  mL/L
24  AT18-C        3       1    F          1          4.125  mL/L
25  AT18-C        3       2    F          2          4.075  mL/L
26  AT18-C        3       3    F          3          6.226  mL/L
27  AT18-C        3       4    F          4          6.235  mL/L
28  AT18-C        3       5    F          5          6.759  mL/L
29  AT18-C        3       6    F          6          6.751  mL/L
30  AT18-C        3       7    F          7          6.571  mL/L
31  AT18-C        3       8    F          8          6.612  mL/L

**========================================================================================================================**
### CTD Sampling Log
Load in the CTD sampling log summary sheet. The summary sheet needs to be manually created and the data cleaned before attempting to import. Additionally, ensure that there is only one header line and that it is at the top of the file.

In [159]:
os.listdir(water_path)

['Pioneer-08_AR-18_2017-05-30_Nutrients_Sample_Data_2017-08-18_ver_1-00.xlsx',
 'Pioneer-08_AR-18A_2017-05-30_Oxygen_Salinity_Sample_Data',
 'Pioneer-08_AR-18C_2017-05-30_Oxygen_Salinity_Sample_Data',
 'Pioneer-08_AR-18B_CTD_Sampling_Log.xlsx',
 'Pioneer-08_AR-18C_CTD_sampling_log.xlsx',
 'Pioneer-08_AR-18A_CTD_Sampling_Log.xlsx',
 'Pioneer-08_AR-18B_2017-05-30_Oxygen_Salinity_Sample_Data']

In [160]:
sample_log = pd.read_excel(sample_log_path,sheet_name='Summary',header=0)
sample_log.sort_values(by=['Station-Cast #','Niskin #'])

,Cruise ID,Station-Cast #,Target Asset,Start Latitude,Start Longitude,Start Date,Start Time,Bottom Depth [m],Date,Niskin #,...,Ph Bottle #,DIC/TA Bottle #,Salts Bottle #,Nitrate Bottle 1,Chlorophyll Brown Bottle #,Chlorophyll Filter Sample #,Unnamed: 19,Chlorophyll Brown Bottle Volume,Chlorophyll LN Tube,Comments
0,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,1.0,...,1029.0,1030.0,B1,1-1.,NaN,NaN,NaN,NaN,NaN,NaN
1,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,2.0,...,NaN,1031.0,B2,1-2.,NaN,NaN,NaN,NaN,NaN,Duplicate DIC/TA
2,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,3.0,...,NaN,1032.0,B3,1-3.,1.0,01/01.,NaN,539.0,NaN,NaN
3,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,4.0,...,NaN,NaN,B4,NaN,2.0,01/02.,NaN,539.0,NaN,NaN
4,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,5.0,...,NaN,1033.0,B5,1-4.,3.0,01/03.,NaN,539.0,NaN,chl max
5,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,6.0,...,NaN,NaN,B6,1-5.,4.0,01/04.,NaN,539.0,NaN,"Duplicated O2, S, N, chl"
6,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,7.0,...,1034.0,1035.0,B7,1-6.,5.0,01/05.,NaN,539.0,NaN,NaN
7,AR18-C,1,OSPM,40 21.800' N,70 52.999' W,2017-06-15,14:35:00,94,2017-06-15,8.0,...,1036.0,NaN,B8,NaN,6.0,01/06.,NaN,539.0,NaN,Duplicate pH
8,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,1.0,...,1037.0,1038.0,S1,2-1.,NaN,NaN,NaN,NaN,NaN,NaN
9,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,2.0,...,NaN,NaN,S2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,3.0,...,NaN,1039.0,S3,2-2.,1.0,02/01.,NaN,539.0,NaN,NaN
11,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,4.0,...,NaN,1040.0,S4,2-3.,2.0,02/02.,NaN,539.0,NaN,"Duplicate DIC/TA, N, O2, S"
12,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,5.0,...,NaN,1041.0,S5,2-4.,3.0,02/03.,NaN,539.0,NaN,chl max
13,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,6.0,...,NaN,NaN,S6,NaN,4.0,02/04.,NaN,539.0,NaN,NaN
14,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,7.0,...,1042.0,1043.0,S7,2-5.,5.0,02/05.,NaN,539.0,NaN,NaN
15,AR18-C,2,PMCO,40 05.904' N,70 52.998' W,2017-06-16,10:16:00,148,2017-06-16,8.0,...,1044.0,NaN,S8,2-6.,6.0,02/06.,NaN,539.0,NaN,"Duplicate pH, chl"
16,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,1.0,...,1045.0,1046.0,S9,3-1.,NaN,NaN,NaN,NaN,NaN,NaN
17,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,2.0,...,NaN,1047.0,S10,3-2.,NaN,NaN,NaN,NaN,NaN,Duplicate DIC/TA
18,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,3.0,...,NaN,1048.0,S11,3-3.,1.0,03/01.,NaN,539.0,NaN,NaN
19,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,4.0,...,NaN,NaN,S12,NaN,2.0,03/02.,NaN,539.0,NaN,NaN
20,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,5.0,...,NaN,1049.0,S13,3-4.,3.0,03/03.,NaN,539.0,NaN,chl max
21,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,6.0,...,NaN,NaN,S14,3-5.,4.0,03/04.,NaN,539.0,NaN,"Duplicate O2, S, N chl"
22,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,7.0,...,1050.0,1051.0,S15,3-6.,5.0,03/05.,NaN,539.0,NaN,NaN
23,AR18-C,3,PMCI,40 13.594' N,70 52.957' W,2017-06-16,20:16:00,127,2017-06-16,8.0,...,1052.0,NaN,S16,NaN,6.0,03/06.,NaN,539.0,NaN,Duplicate pH
24,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,1.0,...,1053.0,1054.0,B1,4-1.,1.0,04/01.,NaN,539.0,NaN,NaN
25,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,2.0,...,NaN,NaN,B2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,3.0,...,NaN,1055.0,B3,4-2.,2.0,04/02.,NaN,539.0,NaN,NaN
27,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,4.0,...,NaN,1056.0,B4,4-3.,NaN,NaN,NaN,NaN,NaN,Duplicate DIC/TA
28,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,5.0,...,NaN,1057.0,B5,4-4.,3.0,04/03.,NaN,539.0,NaN,~chl max
29,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,6.0,...,NaN,NaN,B6,NaN,4.0,04/04.,NaN,539.0,NaN,NaN
30,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,7.0,...,1058.0,1059.0,B7,4-5.,5.0,04/05.,NaN,539.0,NaN,NaN
31,AR18-C,4,PMCO,40 21.888' N,70 46.463' W,2017-06-17,20:26:00,94,2017-06-17,8.0,...,1060.0,NaN,B8,4-6.,6.0,04/06.,NaN,539.0,NaN,Duplicate pH
32,AR18-C,5,UI,40 21.905' N,70 46.485' W,2017-06-18,14:22:00,94,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,AR18-C,6,CS-1,40 17.611' N,70 46.507' W,2017-06-18,15:17:00,115,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,AR18-C,7,CS-2,40 13.199' N,70 46.548' W,2017-06-18,16:05:00,125,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,AR18-C,8,CN,40 08.191' N,70 46.422' W,2017-06-18,16:58:00,134,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,AR18-C,9,CO,40 05.941' N,70 52.977' W,2017-06-18,17:52:00,148,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,AR18-C,10,CS-6,40 09.814' N,70 53.012' W,2017-06-18,18:42:00,137,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,AR18-C,11,CI,40 13.613' N,70 52.963' W,2017-06-18,19:27:00,127,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,AR18-C,12,CS-5,40 17.706' N,70 52.980' W,2017-06-18,20:08:00,115,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,AR18-C,13,IS,40 21.784' N,70 53.007' W,2017-06-18,20:48:00,94,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,AR18-C,14,AL-2,40 12.326' N,70 33.256' W,2017-06-19,12:02:00,119,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,AR18-C,15,AS-1,40 12.312' N,70 37.315' W,2017-06-19,12:44:00,122,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,AR18-C,16,AS-2,40 12.286' N,70 41.348' W,2017-06-19,13:28:00,123,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,AR18-C,17,AS-3,40 12.316' N,70 45.468' W,2017-06-19,14:14:00,126,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,AR18-C,18,AS-4,40 12.292' N,70 49.504' W,2017-06-19,15:01:00,127,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,AR18-C,19,AS-5,40 12.338' N,70 53.487' W,2017-06-19,15:48:00,130,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,AR18-C,20,AS-6,40 12.180' N,70 57.588' W,2017-06-19,16:32:00,131,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,AR18-C,21,AS-7,40 12.283' N,71 01.649' W,2017-06-19,17:15:00,130,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,AR18-C,22,AL-1,40 12.302' N,71 05.596' W,2017-06-19,18:04:00,125,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,AR18-C,23,CS-10,40 14.996' N,71 05.715' W,2017-06-19,18:45:00,112,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,AR18-C,24,CS-9,40 17.786' N,71 05.619' W,2017-06-19,19:26:00,98,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,AR18-C,25,AL-4,40 20.581' N,71 05.811' W,2017-06-19,20:06:00,93,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
def strip_x(x):
    if type(x) == str:
        x = x.replace('.','')
        return x
    else:
        return x

In [162]:
sample_log['Nitrate Bottle 1'] = sample_log['Nitrate Bottle 1'].apply(lambda x: strip_x(x))
sample_log['Start Date'] = sample_log['Start Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
sample_log['Start Time'] = sample_log['Start Time'].apply(lambda x: x.strftime('%H:%M:%S'))
sample_log['Start Time'] = sample_log['Start Date'] + 'T' + sample_log['Start Time'] + 'Z'

**========================================================================================================================**
### Merge the CTD-Bottle Data and Sample Log
The next step is to merge the CTD-Bottle data with the sample log using an outer merge based on the cast and niskin/bottle position. The outer merge means that all data will be retained, so that we do not accidentally discard either data-only casts or casts not recorded on the sample logs.

In [163]:
summary = bottles.merge(sample_log, how='outer', right_on=['Station-Cast #','Niskin #'], left_on=['Cast','Bottle Position'])

Fill in missing data based on the sample log info:

In [164]:
summary['Start Latitude [degrees]'] = summary['Start Latitude [degrees]'].fillna(value=summary['Start Latitude'])
summary['Start Longitude [degrees]'] = summary['Start Longitude [degrees]'].fillna(value=summary['Start Longitude'])
summary['Start Time [UTC]'] = summary['Start Time [UTC]'].fillna(value=summary['Start Date']+summary['Start Time'])
summary['Station-Cast #'] = summary['Station-Cast #'].fillna(value=summary['Cast'])
summary['Bottle Position'] = summary['Bottle Position'].fillna(value=summary['Niskin #']);

Eliminate the redundant columns:

In [165]:
summary.drop(columns=['Start Latitude','Start Longitude','Start Date','Start Time','Cast',
                      'Niskin #','Date','Time','Trip Depth'], inplace=True)

**========================================================================================================================**
Merge the discrete salinity and oxygen data into the sample_log based on the cast and niskin number. Do not use the sample bottle number - it is not stored in the processed discrete data we get back from the labs:

In [166]:
summary = summary.merge(sal, how='left', left_on=['Station-Cast #','Bottle Position'], right_on=['Station','Niskin'] )
summary['Salinity [psu]'] = summary['Salinity [psu]'].fillna(value=summary['Salts Bottle #'])
summary.rename(columns={'Salinity [psu]': 'Discrete Salinity [psu]'}, inplace=True)

Drop the unnecessary or extraneous columns:

In [167]:
summary.drop(columns=['Cruise','Station','Niskin','Case', 'Sample ID', 'Unit', 'Salts Bottle #'], inplace=True)

Oxygen data:

In [168]:
summary = summary.merge(oxy, how='left', left_on=['Station-Cast #','Bottle Position'], right_on=['Station','Niskin'] )
summary['Oxygen [mL/L]'] =  summary['Oxygen [mL/L]'].fillna(value=summary[' Oxygen Bottle #'])
summary.rename(columns={'Oxygen [mL/L]':'Discrete Oxygen [mL/L]'}, inplace=True)

In [169]:
summary.drop(columns=['Cruise','Station','Niskin','Case', 'Sample ID', 'Units', ' Oxygen Bottle #'], inplace=True)

**========================================================================================================================**
### Nutrients Data
Load the nutrients data (if it exists) and merge with the summary sheet. If the nutrients data has not been returned yet, we fill in the relevant columns with the data from the sampling logs.

In [170]:
nutrients_path = basepath+array+cruise+water

In [171]:
try:
    nutrients = pd.read_excel(nutrients_path,header=0)
    nutrients
except IsADirectoryError:
    nutrients = pd.DataFrame(data=sample_log['Nitrate Bottle 1'])
    nutrients.rename(columns={'Nitrate Bottle 1':'Sample ID'}, inplace=True)
    columns = ['Sample ID','Cruise','Avg: Nitrate + Nitrite [µmol/L]','Avg: Ammonium [µmol/L]',
               'Avg: Phosphate [µmol/L]','Avg: Silicate [µmol/L]','Avg: Nitrite [µmol/L]','Avg: Nitrate [µmol/L]']
    for col in columns:
        if col not in nutrients.columns.values:
            nutrients[col] = nutrients['Sample ID']

In [172]:
nutrients.dropna(inplace=True)

In [173]:
nutrients.rename(columns=lambda x: x.replace('Avg:', 'Discrete'), inplace=True)

In [174]:
summary = summary.merge(nutrients, how='left', left_on='Nitrate Bottle 1', right_on='Sample ID')

In [175]:
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 72
Data columns (total 44 columns):
Bottle Position                              52 non-null float64
Date Time                                    52 non-null object
Pressure, Digiquartz [db]                    52 non-null float64
Depth [salt water, m]                        52 non-null float64
Latitude [deg]                               52 non-null float64
Longitude [deg]                              52 non-null float64
Temperature [ITS-90, deg C]                  52 non-null float64
Temperature, 2 [ITS-90, deg C]               52 non-null float64
Conductivity [S/m]                           52 non-null float64
Conductivity, 2 [S/m]                        52 non-null float64
Salinity, Practical [PSU]                    52 non-null float64
Salinity, Practical, 2 [PSU]                 52 non-null float64
Oxygen raw, SBE 43 [V]                       52 non-null float64
Oxygen, SBE 43 [ml/l]                        52 non-null float64
Oxygen Saturation, Garcia & Gordon [ml/l]    52 non-null float64
Beam Attenuation, WET Labs C-Star [1/m]      52 non-null float64
Beam Transmission, WET Labs C-Star [%]       52 non-null object
Filename                                     52 non-null object
Start Latitude [degrees]                     73 non-null object
Start Longitude [degrees]                    73 non-null object
Start Time [UTC]                             73 non-null object
Cruise ID                                    53 non-null object
Station-Cast #                               73 non-null float64
Target Asset                                 53 non-null object
Bottom Depth [m]                             53 non-null float64
Ph Bottle #                                  12 non-null float64
DIC/TA Bottle #                              20 non-null float64
Nitrate Bottle 1                             24 non-null object
Chlorophyll Brown Bottle #                   24 non-null float64
Chlorophyll Filter Sample #                  24 non-null object
Unnamed: 19                                  0 non-null float64
Chlorophyll Brown Bottle Volume              24 non-null float64
Chlorophyll LN Tube                          0 non-null float64
Comments                                     14 non-null object
Discrete Salinity [psu]                      32 non-null float64
Discrete Oxygen [mL/L]                       32 non-null float64
Sample ID                                    24 non-null object
Cruise                                       24 non-null object
Discrete Nitrate + Nitrite [µmol/L]          24 non-null object
Discrete Ammonium [µmol/L]                   24 non-null object
Discrete Phosphate [µmol/L]                  24 non-null object
Discrete Silicate [µmol/L]                   24 non-null object
Discrete Nitrite [µmol/L]                    24 non-null object
Discrete Nitrate [µmol/L]                    24 non-null object
dtypes: float64(25), object(19)
memory usage: 25.7+ KB

In [176]:
summary.drop(columns=['Sample ID','Cruise','Nitrate Bottle 1'], inplace=True)

**========================================================================================================================**
### Chlorophyll Data
If the Chlorophyll measurements have not been returned yet, we will generate a synthetic chlorophyll spreadsheet which substitutes the sample bottle numbers in place of the actual measurements. One complication is that the Chlorophyll sample # column title is not identical between cruises.

In [177]:
chl_path = water_path+''

In [178]:
try:
    chl = pd.read_excel(chl_path)
    chl.head()
except IsADirectoryError:
    # If there is no chlorophyll sheet yet, need to copy the bottle data into the final sample log
    chl = sample_log[['Station-Cast #','Chlorophyll Brown Bottle #','Chlorophyll Filter Sample #','Chlorophyll LN Tube']]
    chl.rename(columns={
        'Chlorophyll Brown Bottle #': 'Brown Bottle #',
        'Chlorophyll Filter Sample #': 'Discrete Chl (ug/l)',
        'Chlorophyll LN Tube':'Discrete Phaeo (ug/l)'
    }, inplace=True)

/home/andrew/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [179]:
chl.dropna(subset=['Brown Bottle #'], inplace=True)

/home/andrew/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [180]:
summary = summary.merge(chl, how='left', left_on=['Station-Cast #','Chlorophyll Brown Bottle #'], right_on=['Station-Cast #','Brown Bottle #'])

In [181]:
summary.drop(columns=['Chlorophyll Brown Bottle #','Chlorophyll Filter Sample #','Chlorophyll LN Tube','Brown Bottle #',
                     'Chlorophyll Brown Bottle Volume'], inplace = True)

**========================================================================================================================**
### Carbon-System Measurements
If the Carbon system measurements have not been returned yet, we will generate a synthetic DIC spreadsheet which substitutes the sample bottle numbers in place of the actual measurements.

In [182]:
dic_path = water_path + ''

In [183]:
try:
    dic = pd.read_excel(dic_path,header=0)
    dic
except IsADirectoryError:
    dic = sample_log[['Station-Cast #','Niskin #','Ph Bottle #','DIC/TA Bottle #']]
    dic.rename(columns={
        'Station-Cast #':'CAST_NO',
        'Niskin #':'NISKIN_NO',
        'DIC/TA Bottle #':'DIC_UMOL_KG',
        'Ph Bottle #':'PH_TOT_MEA',
    }, inplace=True)
    columns = ['CAST_NO', 'NISKIN_NO','DIC_UMOL_KG', 'DIC_FLAG_W', 'TA_UMOL_KG',
       'TA_FLAG_W', 'PH_TOT_MEA', 'TMP_PH_DEG_C', 'PH_FLAG_W']
    for col in columns:
        if col not in dic.columns.values:
            if 'dic' in col.lower() or 'ta' in col.lower():
                dic[col] = dic['DIC_UMOL_KG']
            elif 'ph' in col.lower():
                dic[col] = dic['PH_TOT_MEA']
            else:
                dic[col] = np.nan

/home/andrew/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/andrew/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [184]:
dic = dic[['CAST_NO', 'NISKIN_NO','DIC_UMOL_KG', 'DIC_FLAG_W', 'TA_UMOL_KG',
       'TA_FLAG_W', 'PH_TOT_MEA', 'TMP_PH_DEG_C', 'PH_FLAG_W']]
dic.rename(columns = {'DIC_UMOL_KG':'DIC [µmol/kg]',
               'DIC_FLAG_W':'DIC Flag',
               'TA_UMOL_KG':'Alkalinity [µmol/kg]',
               'TA_FLAG_W':'Alkalinity Flag',
               'PH_TOT_MEA':'pH [Total Scale]',
               'TMP_PH_DEG_C':'pH Analysis Temp [C]', 
              'PH_FLAG_W':'pH Flag'}, inplace=True)
# Add in the pCO2 columns, which we don't measure
dic['pCO2'] = np.nan
dic['pCO2 Flag'] = np.nan
dic['pCO2 Analysis Temp [C]'] = np.nan

dic.rename(columns=lambda x: 'Discrete ' + x, inplace=True)

In [185]:
summary = summary.merge(dic, how='left', left_on=['Station-Cast #','Bottle Position'], right_on=['Discrete CAST_NO','Discrete NISKIN_NO'])

In [186]:
summary.drop(columns=['Ph Bottle #','DIC/TA Bottle #','Discrete CAST_NO','Discrete NISKIN_NO'], inplace=True)

In [187]:
summary.rename(columns={'Date Time':'Bottle Closure'}, inplace=True)

In [188]:
summary.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 72
Data columns (total 47 columns):
Bottle Position                              52 non-null float64
Bottle Closure                               52 non-null object
Pressure, Digiquartz [db]                    52 non-null float64
Depth [salt water, m]                        52 non-null float64
Latitude [deg]                               52 non-null float64
Longitude [deg]                              52 non-null float64
Temperature [ITS-90, deg C]                  52 non-null float64
Temperature, 2 [ITS-90, deg C]               52 non-null float64
Conductivity [S/m]                           52 non-null float64
Conductivity, 2 [S/m]                        52 non-null float64
Salinity, Practical [PSU]                    52 non-null float64
Salinity, Practical, 2 [PSU]                 52 non-null float64
Oxygen raw, SBE 43 [V]                       52 non-null float64
Oxygen, SBE 43 [ml/l]                        52 non-null float64
Oxygen Saturation, Garcia & Gordon [ml/l]    52 non-null float64
Beam Attenuation, WET Labs C-Star [1/m]      52 non-null float64
Beam Transmission, WET Labs C-Star [%]       52 non-null object
Filename                                     52 non-null object
Start Latitude [degrees]                     73 non-null object
Start Longitude [degrees]                    73 non-null object
Start Time [UTC]                             73 non-null object
Cruise ID                                    53 non-null object
Station-Cast #                               73 non-null float64
Target Asset                                 53 non-null object
Bottom Depth [m]                             53 non-null float64
Unnamed: 19                                  0 non-null float64
Comments                                     14 non-null object
Discrete Salinity [psu]                      32 non-null float64
Discrete Oxygen [mL/L]                       32 non-null float64
Discrete Nitrate + Nitrite [µmol/L]          24 non-null object
Discrete Ammonium [µmol/L]                   24 non-null object
Discrete Phosphate [µmol/L]                  24 non-null object
Discrete Silicate [µmol/L]                   24 non-null object
Discrete Nitrite [µmol/L]                    24 non-null object
Discrete Nitrate [µmol/L]                    24 non-null object
Discrete Chl (ug/l)                          24 non-null object
Discrete Phaeo (ug/l)                        0 non-null float64
Discrete DIC [µmol/kg]                       20 non-null float64
Discrete DIC Flag                            20 non-null float64
Discrete Alkalinity [µmol/kg]                20 non-null float64
Discrete Alkalinity Flag                     20 non-null float64
Discrete pH [Total Scale]                    12 non-null float64
Discrete pH Analysis Temp [C]                12 non-null float64
Discrete pH Flag                             12 non-null float64
Discrete pCO2                                0 non-null float64
Discrete pCO2 Flag                           0 non-null float64
Discrete pCO2 Analysis Temp [C]              0 non-null float64
dtypes: float64(31), object(16)
memory usage: 27.4+ KB

**========================================================================================================================**
Import the column order list and use fuzzy string matching to sort the data and save the data to an new Excel spreadsheet.

In [189]:
column_order = pd.read_excel(basepath+'column_order.xlsx')

In [190]:
column_order = tuple([x.replace('CTD','').strip() for x in column_order.columns.values])

In [191]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [192]:
results = {}
CTDsorted = pd.DataFrame()
for column in column_order:
    match = process.extractBests(column.replace('Discrete ','').replace('Calculated ',''),
                                 summary.columns.values, limit=2, score_cutoff=56, scorer=fuzz.ratio)
    if 'calculated' in column.lower():
        CTDsorted[column] = -9999999
    elif 'flag' in column.lower():
        if column not in ['Discrete DIC Flag','Discrete Alkalinity Flag','Discrete pCO2 Flag','Discrete pH Flag']:
            CTDsorted[column] = -9999999
        else:
            CTDsorted[column] = summary[column]
            results.update({column:match[0]})
    elif len(match) == 0:
        CTDsorted[column] = -9999999
    elif (match[0][0] not in [x[0] for x in results.values()]):
        CTDsorted[match[0][0]] = summary[match[0][0]]
        results.update({column:match[0]})
    elif len(match) == 1:
        CTDsorted[match[0][0]] = summary[match[0][0]]
        results.update({column:match[0]})
    else:
        CTDsorted[match[1][0]] = summary[match[1][0]]
        results.update({column:match[1]})
CTDsorted['Comments'] = summary['Comments']

In [193]:
cruise_id = list(set(CTDsorted['Cruise ID'].dropna()))
CTDsorted['Cruise ID'] = CTDsorted['Cruise ID'].fillna(value=cruise_id[0])

In [194]:
cruise_name = cruise.replace('/','')
current_date = pd.to_datetime(pd.datetime.now()).tz_localize(tz='US/Eastern').tz_convert(tz='UTC')
version = '1-01'

In [195]:
cruise_id

['AR18-C']

In [196]:
filename = '_'.join([cruise_name,cruise_id[0],'Discrete','Summary',current_date.strftime('%Y-%m-%d'),'ver',version,'.xlsx'])
filename

'Pioneer-08_AR-18_2017-05-30_AR18-C_Discrete_Summary_2019-06-25_ver_1-01_.xlsx'

In [197]:
CTDsorted.drop_duplicates(inplace=True)

In [198]:
CTDsorted

,Cruise ID,Station-Cast #,Target Asset,Start Latitude [degrees],Start Longitude [degrees],Start Time [UTC],Cast,Cast Flag,Bottom Depth [m],Filename,...,Calculated Alkalinity [µmol/kg],Calculated DIC [µmol/kg],Calculated pCO2 [µatm],Calculated pH,Calculated CO2aq [µmol/kg],Calculated bicarb [µmol/kg],Calculated CO3 [µmol/kg],Calculated Omega-C,Calculated Omega-A,Comments
0,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
1,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,Duplicate DIC/TA
2,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
3,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
4,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,chl max
5,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,"Duplicated O2, S, N, chl"
6,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
7,AR18-C,1.0,OSPM,40 21.80 N,070 53.00 W,2017-06-15T14:35:39Z,-9999999,-9999999,94.0,D:\Data\ar18c001.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,Duplicate pH
8,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
9,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
10,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
11,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,"Duplicate DIC/TA, N, O2, S"
12,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,chl max
13,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
14,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
15,AR18-C,2.0,PMCO,40 05.90 N,070 53.00 W,2017-06-16T10:17:07Z,-9999999,-9999999,148.0,D:\Data\ar18c002.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,"Duplicate pH, chl"
16,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
17,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,Duplicate DIC/TA
18,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
19,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
20,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,chl max
21,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,"Duplicate O2, S, N chl"
22,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
23,AR18-C,3.0,PMCI,40 13.59 N,070 52.96 W,2017-06-16T20:16:45Z,-9999999,-9999999,127.0,D:\Data\ar18c003.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,Duplicate pH
24,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
25,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
26,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
27,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,Duplicate DIC/TA
28,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,~chl max
29,AR18-C,4.0,PMCO,40 21.89 N,070 46.46 W,2017-06-17T20:27:01Z,-9999999,-9999999,94.0,D:\Data\ar18c004.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,AR18-C,16.0,NaN,40 12.29 N,070 41.35 W,2017-06-19T13:28:28Z,-9999999,-9999999,NaN,D:\Data\ar18c016.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
44,AR18-C,17.0,NaN,40 12.32 N,070 45.47 W,2017-06-19T14:14:21Z,-9999999,-9999999,NaN,D:\Data\ar18c017.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
45,AR18-C,18.0,NaN,40 12.29 N,070 49.50 W,2017-06-19T15:01:20Z,-9999999,-9999999,NaN,D:\Data\ar18c018.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
46,AR18-C,19.0,NaN,40 12.34 N,070 53.49 W,2017-06-19T15:48:57Z,-9999999,-9999999,NaN,D:\Data\ar18c019.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
47,AR18-C,20.0,NaN,40 12.18 N,070 57.59 W,2017-06-19T16:32:22Z,-9999999,-9999999,NaN,D:\Data\ar18c020.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
48,AR18-C,21.0,NaN,40 12.28 N,071 01.65 W,2017-06-19T17:15:40Z,-9999999,-9999999,NaN,D:\Data\ar18c021.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
49,AR18-C,22.0,NaN,40 12.30 N,071 05.60 W,2017-06-19T18:04:41Z,-9999999,-9999999,NaN,D:\Data\ar18c022.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
50,AR18-C,24.0,NaN,40 17.79 N,071 05.62 W,2017-06-19T19:26:44Z,-9999999,-9999999,NaN,D:\Data\ar18c024.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
51,AR18-C,25.0,NaN,40 20.58 N,071 05.81 W,2017-06-19T20:06:47Z,-9999999,-9999999,NaN,D:\Data\ar18c025.hex,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
52,AR18-C,5.0,UI,40 21.905' N,70 46.485' W,2017-06-182017-06-18T14:22:00Z,-9999999,-9999999,94.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
53,AR18-C,6.0,CS-1,40 17.611' N,70 46.507' W,2017-06-182017-06-18T15:17:00Z,-9999999,-9999999,115.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
54,AR18-C,7.0,CS-2,40 13.199' N,70 46.548' W,2017-06-182017-06-18T16:05:00Z,-9999999,-9999999,125.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
55,AR18-C,8.0,CN,40 08.191' N,70 46.422' W,2017-06-182017-06-18T16:58:00Z,-9999999,-9999999,134.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
56,AR18-C,9.0,CO,40 05.941' N,70 52.977' W,2017-06-182017-06-18T17:52:00Z,-9999999,-9999999,148.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
57,AR18-C,10.0,CS-6,40 09.814' N,70 53.012' W,2017-06-182017-06-18T18:42:00Z,-9999999,-9999999,137.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
58,AR18-C,11.0,CI,40 13.613' N,70 52.963' W,2017-06-182017-06-18T19:27:00Z,-9999999,-9999999,127.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
59,AR18-C,12.0,CS-5,40 17.706' N,70 52.980' W,2017-06-182017-06-18T20:08:00Z,-9999999,-9999999,115.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
60,AR18-C,13.0,IS,40 21.784' N,70 53.007' W,2017-06-182017-06-18T20:48:00Z,-9999999,-9999999,94.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
61,AR18-C,14.0,AL-2,40 12.326' N,70 33.256' W,2017-06-192017-06-19T12:02:00Z,-9999999,-9999999,119.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
62,AR18-C,15.0,AS-1,40 12.312' N,70 37.315' W,2017-06-192017-06-19T12:44:00Z,-9999999,-9999999,122.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
63,AR18-C,16.0,AS-2,40 12.286' N,70 41.348' W,2017-06-192017-06-19T13:28:00Z,-9999999,-9999999,123.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
64,AR18-C,17.0,AS-3,40 12.316' N,70 45.468' W,2017-06-192017-06-19T14:14:00Z,-9999999,-9999999,126.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
65,AR18-C,18.0,AS-4,40 12.292' N,70 49.504' W,2017-06-192017-06-19T15:01:00Z,-9999999,-9999999,127.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
66,AR18-C,19.0,AS-5,40 12.338' N,70 53.487' W,2017-06-192017-06-19T15:48:00Z,-9999999,-9999999,130.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
67,AR18-C,20.0,AS-6,40 12.180' N,70 57.588' W,2017-06-192017-06-19T16:32:00Z,-9999999,-9999999,131.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
68,AR18-C,21.0,AS-7,40 12.283' N,71 01.649' W,2017-06-192017-06-19T17:15:00Z,-9999999,-9999999,130.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
69,AR18-C,22.0,AL-1,40 12.302' N,71 05.596' W,2017-06-192017-06-19T18:04:00Z,-9999999,-9999999,125.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
70,AR18-C,23.0,CS-10,40 14.996' N,71 05.715' W,2017-06-192017-06-19T18:45:00Z,-9999999,-9999999,112.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
71,AR18-C,24.0,CS-9,40 17.786' N,71 05.619' W,2017-06-192017-06-19T19:26:00Z,-9999999,-9999999,98.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN
72,AR18-C,25.0,AL-4,40 20.581' N,71 05.811' W,2017-06-192017-06-19T20:06:00Z,-9999999,-9999999,93.0,NaN,...,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,-9999999,NaN

In [199]:
CTDsorted.to_excel(basepath+array+cruise+filename)

In [76]:
os.listdir(basepath+array+cruise)

['Pioneer-08_Leg-1_AR18-A_Discrete_Summary_2019-03-13_ver_1-00_.xlsx',
 'Leg 2 (ar18b)',
 'Pioneer-08_Leg_3_AR18-C_Discrete_Summary_2019-06-13_ver_1-01_.xlsx',
 'Pioneer-08_AR-18_2017-05-30_AR18-A_Discrete_Summary_2019-06-25_ver_1-01_.xlsx',
 'Pioneer-08_Leg_1_AR18-A_Discrete_Summary_2019-06-13_ver_1-01_.xlsx',
 'Pioneer-08_AR18-C_Discrete_Summary_2019-06-21_ver_1-01_.xlsx',
 'Leg 1 (ar18a)',
 'Leg 3 (ar18c)',
 'Pioneer-08_AR18_Discrete_Summary_2019-06-21_ver_1-01_.xlsx',
 'Pioneer-08_Leg_2_AR18-B_Discrete_Summary_2019-06-13_ver_1-01_.xlsx',
 'Pioneer-08_AR18-B_Discrete_Summary_2019-06-21_ver_1-01_.xlsx',
 'Pioneer-08_Leg-3_AR18-C_Discrete_Summary_2019-03-13_ver_1-00_.xlsx',
 'Water Sampling',
 'Pioneer-08_Leg-2_AR18-B_Discrete_Summary_2019-03-13_ver_1-00_.xlsx',
 'Pioneer-08_AR18-A_Discrete_Summary_2019-06-21_ver_1-01_.xlsx']

In [ ]:
CTDsorted