# Bottle Processing
Author: Andrew Reed

### Motivation:
Independent verification of the suite of physical and chemical observations provided by OOI are critical for the observations to be of use for scientifically valid investigations. Consequently, CTD casts and Niskin water samples are made during deployment and recovery of OOI platforms, vehicles, and instrumentation. The water samples are subsequently analyzed by independent labs for  comparison with the OOI telemetered and recovered data.

However, currently the water sample data routinely collected and analyzed as part of the OOI program are not available in a standardized format which maps the different chemical analyses to the physical measurements taken at bottle closure. Our aim is to make these physical and chemical analyses of collected water samples available to the end-user in a standardized format for easy comprehension and use, while maintaining the source data files. 

### Approach:
Generating a summary of the water sample analyses involves preprocessing and concatenating multiple data sources, and accurately matching samples with each other. To do this, I first preprocess the ctd casts to generate bottle (.btl) files using the SeaBird vendor software following the SOP available on Alfresco. 

Next, the bottle files are parsed using python code and the data renamed following SeaBird's naming guide. This creates a series of individual cast summary (.sum) files. These files are then loaded into pandas dataframes, appended to each other, and exported as a csv file containing all of the bottle data in a single data file.

### Data Sources/Software:

* **sbe_name_map**: This is a spreadsheet which maps the short names generated by the SeaBird SBE DataProcessing Software to the associated full names. The name mapping originates from SeaBird's SBE DataProcessing support documentation.

* **Alfresco**: The Alfresco CMS for OOI at alfresco.oceanobservatories.org is the source of the ctd hex, xmlcon, and psa files necessary for generating the bottle files needed to create the sample summary sheet.

* **SBEDataProcessing-Win32**: SeaBird vendor software for processing the raw ctd files and generating the .btl files.

**========================================================================================================================**
Import packages which will be used in this notebook:

In [2]:
import os, sys, re
import pandas as pd
import numpy as np

Load the name mapping for the column names based on SeaBird's manual:

In [3]:
sbe_name_map = pd.read_excel('/media/andrew/OS/Users/areed/Documents/OOI-CGSN/QAQC_Sandbox/Reference_Files/seabird_ctd_name_map.xlsx')

In [4]:
sbe_name_map.head()

,Short Name,Full Name,Friendly Name,Units,Notes/Comments
0,accM,Acceleration [m/s^2],acc M,m/s^2,NaN
1,accF,Acceleration [ft/s^2],acc F,ft/s^2,NaN
2,altM,Altimeter [m],alt M,m,NaN
3,altF,Altimeter [ft],alt F,ft,NaN
4,avgsvCM,"Average Sound Velocity [Chen-Millero, m/s]",avgsv-C M,"Chen-Millero, m/s",NaN

**========================================================================================================================**
Declare the directory paths to where the relevant information is stored:

In [5]:
basepath = '/home/andrew/Documents/OOI-CGSN/QAQC_Sandbox/Ship_data/'
array = 'Pioneer/'
cruise = 'Pioneer-04_AT-27_2015-04-28/'
water = 'Water Sampling/'
ctd = 'ctd/'
leg = 'Leg 1 (at27a)/'

In [6]:
sorted(os.listdir(basepath+array+cruise+leg+ctd));

In [29]:
sample_dir = basepath+array+cruise+leg+ctd
water_dir = basepath+array+cruise+water
salts_and_o2_path = water_dir+ 'Pioneer-04_AT-27A_Oxygen_Salinity_Sample_Data/'
log_path = water_dir+ 'Pioneer-04_AT-27A_CTD_Sampling_Log.xlsx'
nutrients_path = water_dir+ 'Pioneer-04_AT-27A_Nutrients_Sample_Data_2016-09-01_ver_1-00.xlsx'
dic_path = water_dir + 'Pioneer-04_AT-27_DIC_Sample_Data_2019-06-19_ver_1-00.xlsx'
chl_path = water_dir+ 'Pioneer-04_AT-27A_Chlorophyll_Sample_Data_2017-09-21_ver_1-00.xlsx'

In [30]:
# Parse the data for the start_time
def parse_header(header):
    """
    Parse the header of bottle (.btl) files to get critical information
    for the summary spreadsheet.
    
    Args:
        header - an object containing the header of the bottle file as a list of
            strings, split at the newline.
    Returns:
        hdr - a dictionary object containing the start_time, filename, latitude,
            longitude, and cruise id.
    """
    hdr = {}
    for line in header:
        if 'start_time' in line.lower():
            start_time = pd.to_datetime(re.split('= |\[',line)[1])
            hdr.update({'Start Time [UTC]':start_time.strftime('%Y-%m-%dT%H:%M:%SZ')})
        elif 'filename' in line.lower():
            hex_name = re.split('=',line)[1].strip()
            hdr.update({'Filename':hex_name})
        elif 'latitude' in line.lower():
            start_lat = re.split('=',line)[1].strip()
            hdr.update({'Start Latitude [degrees]':start_lat})
        elif 'longitude' in line.lower():
            start_lon = re.split('=',line)[1].strip()
            hdr.update({'Start Longitude [degrees]':start_lon})
        elif 'cruise id' in line.lower():
            cruise_id = re.split(':',line)[1].strip()
            hdr.update({'Cruise':cruise_id})
        else:
            pass
    
    return hdr

Get the path to the ctd-bottle data, load it, and parse it:

In [31]:
# Now write a function to autopopulate the bottle summary sample sheet
files = [x for x in os.listdir(sample_dir) if '.btl' in x]
for filename in files:
    filepath = os.path.abspath(sample_dir+filename)
    
    # Load the raw content into memory
    with open(filepath) as file:
        content = file.readlines()
    content = [x.strip() for x in content]
    
    # Now parse the file content
    header = []
    columns = []
    data = []
    for line in content:
        if line.startswith('*') or line.startswith('#'):
            header.append(line)
        else:
            try:
                float(line[0])
                data.append(line)
            except:
                columns.append(line)
                
    # Parse the header
    hdr = parse_header(header)
    
    # Parse the column identifiers
    column_dict = {}
    for line in columns:
        for i,x in enumerate(line.split()):
            try:
                column_dict[i] = column_dict[i] + ' ' + x
            except:
                column_dict.update({i:x})
                
    #Parse the bottle data based on the column header locations
    data_dict = {x:[] for x in column_dict.keys()}

    for line in data:
        if line.endswith('(avg)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            for i,x in enumerate(values):
                data_dict[i].append(x)
        elif line.endswith('(sdev)'):
            values = list(filter(None,re.split('  |\t', line) ) )
            data_dict[1].append(values[0])
        else:
            pass
    
    # Join the date and time for each measurement into a single item
    data_dict[1] = [' '.join(item) for item in zip(data_dict[1][::2],data_dict[1][1::2])]
    
    # With the parsed data and column names, match up the data and column
    # based on the location
    results = {}
    for key,item in column_dict.items():
        values = data_dict[key]
        results.update({item:values})
        
    # Put the results into a dataframe
    df = pd.DataFrame.from_dict(results)

    # Now add the parsed info from the header files into the dataframe
    for key,item in hdr.items():
        df[key] = item
        
    # Get the cast number
    cast = filename[filename.index('.')-3:filename.index('.')]
    df['Cast'] = str(cast).zfill(3)
    
    # Add the header info back in
    for key in hdr.keys():
        df[key] = hdr[key]
        
    # Generate a filename for the summary file
    outname = filename.split('.')[0] + '.sum'
    
    # Save the results
    df.to_csv(sample_dir+outname)

In [32]:
# Now, for each "summary" file, load and append to each other
df = pd.DataFrame()
for file in os.listdir(sample_dir):
    if '.sum' in file:
        df = df.append(pd.read_csv(sample_dir+file))
    else:
        pass

In [33]:
# Rename the column title using the sbe_name_mapping 
for colname in list(df.columns.values):
    try:
        fullname = list(sbe_name_map[sbe_name_map['Short Name'].apply(lambda x: str(x).lower() == colname.lower()) == True]['Full Name'])[0]
        df.rename({colname:fullname},axis='columns',inplace=True)
    except:
        pass

In [34]:
df

,Unnamed: 0,Bottle Position,Date Time,"Pressure, Digiquartz [db]","Depth [salt water, m]",Latitude [deg],Longitude [deg],"Temperature [ITS-90, deg C]","Temperature, 2 [ITS-90, deg C]",Conductivity [S/m],...,"Oxygen raw, SBE 43 [V]","Oxygen, SBE 43 [ml/l]","Oxygen Saturation, Garcia & Gordon [ml/l]","Beam Attenuation, WET Labs C-Star [1/m]","Beam Transmission, WET Labs C-Star [%]",Filename,Start Latitude [degrees],Start Longitude [degrees],Start Time [UTC],Cast
0,0,1,May 01 2015 04:43:02,121.528,120.559,40.22666,-70.88333,11.6626,11.6615,4.015489,...,2.0794,4.8236,6.07835,0.2914,92.9735 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
1,1,2,May 01 2015 04:43:13,121.664,120.693,40.22666,-70.88333,11.6548,11.6590,4.014495,...,2.0802,4.8252,6.07944,0.2876,93.0634 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
2,2,3,May 01 2015 04:49:56,60.490,60.017,40.22666,-70.88332,4.8166,4.8170,3.192494,...,2.3271,6.6137,7.18163,0.1623,96.0242 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
3,3,4,May 01 2015 04:50:08,60.522,60.048,40.22666,-70.88332,4.8160,4.8165,3.192420,...,2.3277,6.6157,7.18175,0.1641,95.9806 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
4,4,5,May 01 2015 04:55:23,18.700,18.556,40.22666,-70.88334,7.8618,7.8400,3.454734,...,2.7211,7.4455,6.69247,0.2866,93.0849 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
5,5,6,May 01 2015 04:55:34,18.598,18.454,40.22666,-70.88334,7.7453,7.7703,3.443893,...,2.7245,7.4572,6.71035,0.2849,93.1246 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
6,6,7,May 01 2015 04:57:41,1.650,1.637,40.22666,-70.88332,8.5716,8.5714,3.522467,...,2.7450,7.3624,6.58429,0.2969,92.8472 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
7,7,8,May 01 2015 04:57:48,1.610,1.598,40.22666,-70.88332,8.5680,8.5668,3.522168,...,2.7446,7.3659,6.58480,0.2984,92.8121 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
8,8,9,May 01 2015 04:57:55,1.755,1.742,40.22666,-70.88332,8.5693,8.5666,3.522298,...,2.7427,7.3552,6.58460,0.2985,92.8102 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
9,9,10,May 01 2015 04:57:58,1.555,1.543,40.22666,-70.88332,8.5706,8.5673,3.522441,...,2.7432,7.3602,6.58440,0.3037,92.6898 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
10,10,11,May 01 2015 04:58:02,1.659,1.646,40.22666,-70.88333,8.5836,8.5755,3.523703,...,2.7430,7.3529,6.58245,0.2949,92.8940 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
11,11,12,May 01 2015 04:58:04,1.583,1.570,40.22666,-70.88332,8.5852,8.5795,3.523877,...,2.7429,7.3544,6.58220,0.2947,92.8978 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
12,12,13,May 01 2015 04:58:07,1.705,1.691,40.22666,-70.88332,8.5879,8.5796,3.524175,...,2.7427,7.3526,6.58178,0.2972,92.8393 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
13,13,14,May 01 2015 04:58:09,1.642,1.629,40.22666,-70.88333,8.5904,8.5882,3.524352,...,2.7434,7.3570,6.58143,0.3022,92.7238 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
14,14,15,May 01 2015 04:58:12,1.514,1.503,40.22666,-70.88334,8.5900,8.5910,3.524343,...,2.7444,7.3613,6.58148,0.3045,92.6702 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
15,15,16,May 01 2015 04:58:15,1.735,1.722,40.22666,-70.88333,8.5850,8.5869,3.523830,...,2.7439,7.3564,6.58224,0.3094,92.5583 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
16,16,17,May 01 2015 04:58:17,1.642,1.629,40.22666,-70.88333,8.5825,8.5843,3.523608,...,2.7431,7.3531,6.58260,0.3036,92.6923 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
17,17,18,May 01 2015 04:58:21,1.554,1.542,40.22666,-70.88334,8.5755,8.5785,3.522891,...,2.7438,7.3612,6.58368,0.3045,92.6705 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
18,18,19,May 01 2015 04:58:24,1.690,1.677,40.22666,-70.88334,8.5721,8.5768,3.522600,...,2.7455,7.3669,6.58417,0.2970,92.8456 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
19,19,20,May 01 2015 04:58:27,1.719,1.705,40.22666,-70.88334,8.5727,8.5758,3.522615,...,2.7449,7.3612,6.58410,0.3028,92.7100 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
20,20,21,May 01 2015 04:58:30,1.573,1.561,40.22666,-70.88334,8.5721,8.5731,3.522570,...,2.7447,7.3616,6.58418,0.2987,92.8042 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
21,21,22,May 01 2015 04:58:32,1.550,1.538,40.22666,-70.88334,8.5720,8.5732,3.522603,...,2.7425,7.3495,6.58418,0.2963,92.8616 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
22,22,23,May 01 2015 04:58:35,1.753,1.739,40.22666,-70.88334,8.5779,8.5754,3.523219,...,2.7417,7.3503,6.58327,0.3048,92.6639 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
23,23,24,May 01 2015 04:58:37,1.646,1.634,40.22666,-70.88334,8.5856,8.5804,3.523988,...,2.7427,7.3552,6.58210,0.3009,92.7552 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4
0,0,1,Apr 30 2015 13:33:50,447.487,443.581,39.94000,-70.77496,7.2141,7.2480,3.578128,...,1.6562,4.0585,6.71348,0.1238,96.9532 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
1,1,2,Apr 30 2015 13:34:01,447.610,443.703,39.93999,-70.77496,7.2127,7.2499,3.577992,...,1.6583,4.0666,6.71371,0.1242,96.9421 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
2,2,3,Apr 30 2015 13:56:17,184.854,183.357,39.94000,-70.77496,12.6616,12.6623,4.148702,...,2.2281,5.2080,5.94120,0.0566,98.5943 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
3,3,4,Apr 30 2015 13:56:28,184.867,183.369,39.93999,-70.77496,12.6600,12.6721,4.148621,...,2.2302,5.2126,5.94137,0.0569,98.5875 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
4,4,5,Apr 30 2015 14:04:53,26.202,26.000,39.94000,-70.77496,15.4887,15.3818,4.437619,...,2.5360,5.6802,5.60763,0.3657,91.2625 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
5,5,6,Apr 30 2015 14:05:04,26.182,25.979,39.94000,-70.77496,15.3447,15.3297,4.418836,...,2.5431,5.7255,5.62488,0.3622,91.3439 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,18,19,May 02 2015 03:06:51,1.664,1.651,40.36499,-70.77504,8.5169,8.5178,3.525094,...,2.7300,7.3210,6.58893,0.2895,93.0195 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
19,19,20,May 02 2015 03:06:54,1.565,1.553,40.36499,-70.77504,8.5170,8.5178,3.525105,...,2.7304,7.3215,6.58891,0.2913,92.9768 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
20,20,21,May 02 2015 03:06:56,1.840,1.826,40.36498,-70.77504,8.5165,8.5177,3.525065,...,2.7296,7.3157,6.58899,0.2882,93.0484 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
21,21,22,May 02 2015 03:06:59,1.652,1.639,40.36499,-70.77504,8.5162,8.5172,3.525028,...,2.7302,7.3222,6.58904,0.3068,92.6236 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
22,22,23,May 02 2015 03:07:02,1.724,1.711,40.36500,-70.77504,8.5166,8.5176,3.525060,...,2.7312,7.3247,6.58898,0.3078,92.6019 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
23,23,24,May 02 2015 03:07:06,1.629,1.617,40.36500,-70.77504,8.5169,8.5177,3.525086,...,2.7301,7.3171,6.58893,0.2882,93.0492 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6
0,0,1,May 01 2015 15:19:49,142.638,141.496,40.09834,-70.88335,12.2883,12.2882,4.098697,...,2.1696,5.0431,5.99149,0.1179,97.0962 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
1,1,2,May 01 2015 15:19:58,142.769,141.624,40.09834,-70.88334,12.2904,12.2899,4.098934,...,2.1694,5.0422,5.99122,0.1171,97.1147 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
2,2,3,May 01 2015 15:27:12,80.865,80.229,40.09833,-70.88336,11.7950,11.7937,4.020009,...,2.2220,5.2275,6.06391,0.0955,97.6405 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
3,3,4,May 01 2015 15:27:22,80.848,80.212,40.09834,-70.88336,11.8030,11.8071,4.020631,...,2.2246,5.2344,6.06296,0.0946,97.6628 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
4,4,5,May 01 2015 15:33:51,24.565,24.375,40.09832,-70.88338,9.0960,9.1015,3.597196,...,2.6874,7.0988,6.49646,0.4299,89.8104 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
5,5,6,May 01 2015 15:34:01,24.413,24.224,40.09832,-70.88338,9.1379,9.1540,3.601800,...,2.6960,7.1135,6.49006,0.4278,89.8575 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
6,6,7,May 01 2015 15:36:29,2.871,2.849,40.09834,-70.88338,9.3276,9.3275,3.621647,...,2.7203,7.1386,6.46144,0.4510,89.3383 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
7,7,8,May 01 2015 15:36:36,3.110,3.087,40.09833,-70.88337,9.3297,9.3285,3.621909,...,2.7214,7.1471,6.46112,0.4451,89.4687 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
8,8,9,May 01 2015 15:36:42,3.132,3.108,40.09834,-70.88337,9.3232,9.3249,3.621185,...,2.7216,7.1501,6.46209,0.4570,89.2051 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
9,9,10,May 01 2015 15:36:46,2.960,2.937,40.09833,-70.88337,9.3301,9.3275,3.621957,...,2.7226,7.1498,6.46105,0.4479,89.4061 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
10,10,11,May 01 2015 15:36:49,2.828,2.806,40.09834,-70.88337,9.3526,9.3502,3.624436,...,2.7230,7.1460,6.45767,0.4540,89.2707 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
11,11,12,May 01 2015 15:36:52,3.136,3.112,40.09833,-70.88336,9.3473,9.3465,3.623883,...,2.7225,7.1445,6.45846,0.4516,89.3252 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
12,12,13,May 01 2015 15:36:55,3.050,3.027,40.09833,-70.88336,9.3483,9.3478,3.623996,...,2.7223,7.1445,6.45830,0.4464,89.4409 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
13,13,14,May 01 2015 15:36:58,2.860,2.838,40.09834,-70.88336,9.3497,9.3474,3.624179,...,2.7225,7.1458,6.45808,0.4477,89.4107 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
14,14,15,May 01 2015 15:37:01,3.001,2.978,40.09833,-70.88336,9.3565,9.3541,3.624930,...,2.7228,7.1450,6.45706,0.4480,89.4042 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
15,15,16,May 01 2015 15:37:04,3.165,3.141,40.09833,-70.88336,9.3530,9.3570,3.624566,...,2.7225,7.1439,6.45757,0.4514,89.3290 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
16,16,17,May 01 2015 15:37:06,2.777,2.756,40.09834,-70.88336,9.3587,9.3605,3.625179,...,2.7225,7.1431,6.45672,0.4538,89.2754 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
17,17,18,May 01 2015 15:37:14,3.027,3.004,40.09834,-70.88336,9.3568,9.3581,3.624997,...,2.7226,7.1465,6.45699,0.4518,89.3208 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
18,18,19,May 01 2015 15:37:20,3.348,3.323,40.09833,-70.88336,9.3680,9.3679,3.626251,...,2.7217,7.1380,6.45531,0.4485,89.3944 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
19,19,20,May 01 2015 15:37:24,2.887,2.865,40.09834,-70.88336,9.3658,9.3675,3.626027,...,2.7234,7.1475,6.45562,0.4488,89.3865 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
20,20,21,May 01 2015 15:37:27,3.082,3.058,40.09834,-70.88336,9.3683,9.3675,3.626296,...,2.7231,7.1426,6.45526,0.4476,89.4142 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
21,21,22,May 01 2015 15:37:31,3.055,3.031,40.09834,-70.88336,9.3603,9.3613,3.625379,...,2.7232,7.1450,6.45648,0.4484,89.3946 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
22,22,23,May 01 2015 15:37:34,2.734,2.713,40.09833,-70.88336,9.3606,9.3623,3.625419,...,2.7240,7.1508,6.45641,0.4497,89.3663 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5
23,23,24,May 01 2015 15:37:39,2.873,2.851,40.09834,-70.88336,9.3592,9.3618,3.625242,...,2.7243,7.1483,6.45664,0.4484,89.3960 (avg),C:\data\ctd\at27a_005.hex,40 05.90 N,070 53.00 W,2015-05-01T14:10:00Z,5

In [35]:
df.sort_values(by=['Cast','Bottle Position'], inplace=True)
df.drop(columns='Unnamed: 0',inplace=True)
for colname in list(df.columns.values):
    df.rename({colname:'CTD ' + colname},axis='columns',inplace=True)
bottles = df

In [36]:
df.to_csv(sample_dir+'CTD_Summary.csv')

In [37]:
df.head()

,CTD Bottle Position,CTD Date Time,"CTD Pressure, Digiquartz [db]","CTD Depth [salt water, m]",CTD Latitude [deg],CTD Longitude [deg],"CTD Temperature [ITS-90, deg C]","CTD Temperature, 2 [ITS-90, deg C]",CTD Conductivity [S/m],"CTD Conductivity, 2 [S/m]",...,"CTD Oxygen raw, SBE 43 [V]","CTD Oxygen, SBE 43 [ml/l]","CTD Oxygen Saturation, Garcia & Gordon [ml/l]","CTD Beam Attenuation, WET Labs C-Star [1/m]","CTD Beam Transmission, WET Labs C-Star [%]",CTD Filename,CTD Start Latitude [degrees],CTD Start Longitude [degrees],CTD Start Time [UTC],CTD Cast
0,1,Apr 29 2015 16:56:01,440.439,436.601,39.94,-70.88337,7.2931,7.2972,3.585522,3.586001,...,1.6521,4.0457,6.70124,0.1523,96.2641 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1
1,2,Apr 29 2015 16:56:11,440.110,436.276,39.94,-70.88338,7.3209,7.3246,3.588149,3.588595,...,1.6517,4.0344,6.69697,0.1499,96.3207 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1
2,3,Apr 29 2015 17:17:11,150.299,149.094,39.94,-70.88336,12.5311,12.5338,4.128747,4.129101,...,2.1947,5.0995,5.95926,0.0739,98.1700 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1
3,4,Apr 29 2015 17:17:25,150.294,149.089,39.94,-70.88336,12.5283,12.5288,4.128420,4.128522,...,2.2012,5.1149,5.95962,0.0773,98.0859 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1
4,5,Apr 29 2015 17:26:08,15.383,15.265,39.94,-70.88336,10.7084,10.7023,3.819122,3.818586,...,2.7271,6.9297,6.24224,0.7043,83.8564 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1

**========================================================================================================================**
### Process the Discrete Salinity and Oxygen Data
Next, I process the discrete salinity and oxygen sample data so that it is consistently named and ready to be merged with the existing data sets.

In [38]:
def clean_sal_files(dirpath):

    # Run check if files are held in excel format or csvs
    csv_flag = any(files.endswith('.SAL') for files in os.listdir(dirpath))
    if csv_flag:
        for filename in os.listdir(dirpath):
            sample = []
            salinity = []
            if filename.endswith('.SAL'):
                with open(dirpath+filename) as file:
                    data = file.readlines()
                    for ind1,line in enumerate(data):
                        if ind1 == 0:
                            strs = data[0].replace('"','').split(',')
                            cruisename = strs[0]
                            station = strs[1]
                            cast = strs[2]
                            case = strs[8]
                        elif int(line.split()[0]) == 0:
                            pass
                        else:
                            strs = line.split()
                            sample.append(strs[0])
                            salinity.append(strs[2])
                
                    # Generate a pandas dataframe to populate data
                    data_dict = {'Cruise':cruisename,'Station':station,'Cast':cast,'Case':case,'Sample ID':sample,'Salinity [psu]':salinity}
                    df = pd.DataFrame.from_dict(data_dict)
                    df.to_csv(file.name.replace('.','')+'.csv')
            else:
                pass
    
    else:
        # If the files are already in excel spreadsheets, they've been cleaned into a
        # logical tabular format
        pass
    

def process_sal_files(dirpath):
    
    # Check if the files are excel files or not
    excel_flag = any(files.endswith('SAL.xlsx') for files in os.listdir(dirpath))
    # Initialize a dataframe for processing the salinity files
    df = pd.DataFrame()
    if excel_flag:
        for file in os.listdir(dirpath):
            if 'SAL.xlsx' in file:
                df = df.append(pd.read_excel(dirpath+file))
        df.rename({'Sample':'Sample ID','Salinity':'Salinity [psu]','Niskin #':'Niskin','Case ID':'Case'}, 
                  axis='columns',inplace=True)
        df.dropna(inplace=True)
        df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
        df['Niskin'] = df['Niskin'].apply(lambda x: str( int(x)))
        df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
    else:
        for file in os.listdir(dirpath):
            if 'SAL.csv' in file:
                df = df.append(pd.read_csv(dirpath+file))
        df.dropna(inplace=True)
        df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
        df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
        df.drop(columns=[x for x in list(df.columns.values) if 'unnamed' in x.lower()],inplace=True)

    # Save the processed summary file for salinity
    df.to_csv(dirpath+'SAL_Summary.csv')
    
    
def process_oxy_files(dirpath):
    df = pd.DataFrame()
    for filename in os.listdir(dirpath):
        if 'oxy' in filename.lower() and filename.endswith('.xlsx'):
            df = df.append(pd.read_excel(dirpath+filename)) 
            # Rename and clean up the oxygen data to be uniform across data sets
    df.rename({'Niskin #':'Niskin','Sample#':'Sample ID','Oxy':'Oxygen [mL/L]','Unit':'Units'},
              axis='columns',inplace=True)
    df.dropna(inplace=True)
    df['Station'] = df['Station'].apply(lambda x: str( int(x)).zfill(3))
    #df['Niskin'] = df['Niskin'].apply(lambda x: str( int(x)))
    df['Sample ID'] = df['Sample ID'].apply(lambda x: str( int(x)))
    df['Cruise'] = df['Cruise'].apply(lambda x: x.replace('O','0'))
    
    # Save the processed summary file for oxygen
    df.to_csv(dirpath+'OXY_Summary.csv')

**If there is no oxygen or salinity info - run this cell, otherwise skip!!!**

In [39]:
# Now process the salts and oxygen data
    # Clean the salinity
clean_sal_files(salts_and_o2_path)
    # Process the salinity files
process_sal_files(salts_and_o2_path)
    # Process the oxygen files
process_oxy_files(salts_and_o2_path)

**====================================================================================================================**
Load the salinity and oxygen:

In [40]:
sal = pd.read_csv(salts_and_o2_path+'SAL_Summary.csv')
sal.drop(columns='Unnamed: 0', inplace=True)
for colname in list(sal.columns.values):
    sal.rename(columns={colname:'Sal ' + colname}, inplace=True)
sal['Sal Sample ID'] = sal['Sal Case'] + sal['Sal Sample ID'].map(str)

In [41]:
sal.head()

  Sal Cruise  Sal Station  Sal Cast Sal Case Sal Sample ID  Sal Salinity [psu]
0      SHORE            3         1        B            B1             35.1067
1      SHORE            3         1        B            B2             35.1055
2      SHORE            3         1        B            B3             35.7365
3      SHORE            3         1        B            B4             35.7363
4      SHORE            3         1        B            B5             35.6303

In [42]:
oxy = pd.read_csv(salts_and_o2_path+'OXY_Summary.csv')
oxy.drop(columns='Unnamed: 0', inplace=True)
for colname in list(oxy.columns.values):
    oxy.rename(columns={colname:'Oxy ' + colname}, inplace=True)
oxy['Oxy Sample ID'] = oxy['Oxy Case'] + oxy['Oxy Sample ID'].map(str)

In [43]:
oxy.head()

  Oxy Cruise  Oxy Station Oxy Case Oxy Sample ID  Oxy Oxygen [mL/L] Oxy Units
0     AT27-A            5        T            T9              5.117      mL/L
1     AT27-A            5        T           T10              5.117      mL/L
2     AT27-A            5        T           T11              5.333      mL/L
3     AT27-A            5        T           T12              5.349      mL/L
4     AT27-A            5        T           T13              7.160      mL/L

**========================================================================================================================**
### CTD Sampling Log
Load in the CTD sampling log summary sheet. The summary sheet needs to be manually created and the data cleaned before attempting to import. Additionally, ensure that there is only one header line and that it is at the top of the file.

In [71]:
sample_log = pd.read_excel(log_path,sheet_name='Summary',header=0)
sample_log = sample_log.sort_values(by=['Station-Cast #','Niskin #'])
for colname in list(sample_log.columns.values):
    sample_log.rename({colname:'Log ' + colname},axis='columns',inplace=True)
sample_log.head()

,Log Cruise ID,Log Station-Cast #,Log Target Station,Log Start Latitude,Log Start Longitude,Log Start Date,Log Start Time,Log Bottom Depth [m],Log Niskin #,Log Rosette Position,...,Log Oxygen Bottle #,Log Ph Bottle #,Log DIC/TA Bottle #,Log Salts Bottle #,Log Nitrate Bottle 1,Log Chlorophyll Brown Bottle #,Log Chlorophyll Filter Sample #,Log Chlorophyll Brown Bottle Volume,Log Chlorophyll LN Tube,Log Comments
0,AT-27A,1,OSPM,39 56.400 N,70 53.002 W,2015-04-29,15:40:00,445,1.0,1.0,...,T1,323.0,324.0,J1,1-1,1.0,01 / 01,1070.0,NaN,NaN
1,AT-27A,1,OSPM,39 56.400 N,70 53.002 W,2015-04-29,15:40:00,445,2.0,2.0,...,T2,325.0,326.0,J2,1-2,2.0,01 / 02,1070.0,NaN,Duplicates
2,AT-27A,1,OSPM,39 56.400 N,70 53.002 W,2015-04-29,15:40:00,445,3.0,3.0,...,T3,327.0,328.0,J3,1-3,3.0,01 / 03,1070.0,NaN,NaN
3,AT-27A,1,OSPM,39 56.400 N,70 53.002 W,2015-04-29,15:40:00,445,4.0,4.0,...,T4,NaN,NaN,J4,NaN,4.0,01 / 04,1070.0,NaN,NaN
4,AT-27A,1,OSPM,39 56.400 N,70 53.002 W,2015-04-29,15:40:00,445,5.0,5.0,...,T5,329.0,330.0,J5,1-4,5.0,01 / 05,1070.0,NaN,"Chl max, O2 max"

In [72]:
def strip_x(x):
    if type(x) == str:
        x = x.replace('.','')
        return x
    else:
        return x

In [73]:
sample_log['Log Nitrate Bottle 1'] = sample_log['Log Nitrate Bottle 1'].apply(lambda x: strip_x(x))

In [74]:
# Reformat the sample_log start date and time as well as the date/time
sample_log['Log Start Date'] = sample_log['Log Start Date'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%d'))
sample_log['Log Start Time'] = sample_log['Log Start Time'].apply(lambda x: str(x))
sample_log['Log Start Time'] = sample_log['Log Start Date'] + 'T' + sample_log['Log Start Time'] + 'Z'

In [75]:
# Date and Time
sample_log['Log Date'] = pd.to_datetime(sample_log['Log Date']).apply(lambda x: x.strftime('%Y-%m-%d') if not pd.isnull(x) else '')
sample_log['Log Time'] = sample_log['Log Time'].apply(lambda x: x.strftime('%H:%M:%S') if not pd.isnull(x) else '')
sample_log['Log Time'] = sample_log['Log Date'] + 'T' + sample_log['Log Time'] + 'Z'

**========================================================================================================================**
### Merge the CTD-Bottle Data and Sample Log
The next step is to merge the CTD-Bottle data with the sample log using an outer merge based on the cast and niskin/bottle position. The outer merge means that all data will be retained, so that we do not accidentally discard either data-only casts or casts not recorded on the sample logs.

In [76]:
#summary = bottles.merge(sample_log, how='outer', right_on=['Station-Cast #','Niskin #'], left_on=['Cast','Bottle Position'])
#summary = bottles.merge(sample_log, how='outer', right_on=['Station-Cast #'], left_on=['Cast'])

In [77]:
summary = sample_log.merge(bottles, how='outer', left_on=['Log Station-Cast #','Log Niskin #'], right_on=['CTD Cast','CTD Bottle Position'])
summary

,Log Cruise ID,Log Station-Cast #,Log Target Station,Log Start Latitude,Log Start Longitude,Log Start Date,Log Start Time,Log Bottom Depth [m],Log Niskin #,Log Rosette Position,...,"CTD Oxygen raw, SBE 43 [V]","CTD Oxygen, SBE 43 [ml/l]","CTD Oxygen Saturation, Garcia & Gordon [ml/l]","CTD Beam Attenuation, WET Labs C-Star [1/m]","CTD Beam Transmission, WET Labs C-Star [%]",CTD Filename,CTD Start Latitude [degrees],CTD Start Longitude [degrees],CTD Start Time [UTC],CTD Cast
0,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,1.0,1.0,...,1.6521,4.0457,6.70124,0.1523,96.2641 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
1,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,2.0,2.0,...,1.6517,4.0344,6.69697,0.1499,96.3207 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
2,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,3.0,3.0,...,2.1947,5.0995,5.95926,0.0739,98.1700 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
3,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,4.0,4.0,...,2.2012,5.1149,5.95962,0.0773,98.0859 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
4,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,5.0,5.0,...,2.7271,6.9297,6.24224,0.7043,83.8564 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
5,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,6.0,6.0,...,2.7247,6.9191,6.24090,0.7083,83.7728 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
6,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,7.0,7.0,...,2.7625,7.1411,6.33987,0.7430,83.0488 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
7,AT-27A,1.0,OSPM,39 56.400 N,70 53.002 W,2015-04-29,2015-04-29T15:40:00Z,445.0,8.0,8.0,...,2.7627,7.1354,6.33561,0.7337,83.2421 (avg),C:\data\ctd\at27a_001.hex,39 56.40 N,070 53.00 W,2015-04-29T15:39:30Z,1.0
8,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,1.0,1.0,...,2.2672,5.9914,6.73805,0.2408,94.1569 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
9,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,2.0,2.0,...,2.2674,5.9953,6.73865,0.2357,94.2788 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
10,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,3.0,3.0,...,2.4880,7.0093,7.01997,0.1174,97.1084 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
11,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,4.0,4.0,...,2.4864,7.0068,7.01660,0.1185,97.0798 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
12,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,5.0,5.0,...,2.6470,7.3193,6.81976,0.3218,92.2713 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
13,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,6.0,6.0,...,2.6473,7.3265,6.81981,0.3234,92.2343 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
14,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,7.0,7.0,...,2.6799,7.3156,6.72999,0.3143,92.4426 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
15,AT-27A,2.0,Glider,40 15 N,70 12 W,2015-04-30,2015-04-30T03:34:00Z,99.0,8.0,8.0,...,2.6809,7.3248,6.73088,0.3207,92.2966 (avg),C:\data\ctd\at27a_002.hex,40 15.48 N,070 12.91 W,2015-04-30T03:47:07Z,2.0
16,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,1.0,1.0,...,1.6562,4.0585,6.71348,0.1238,96.9532 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
17,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,2.0,2.0,...,1.6583,4.0666,6.71371,0.1242,96.9421 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
18,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,3.0,3.0,...,2.2281,5.2080,5.94120,0.0566,98.5943 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
19,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,4.0,4.0,...,2.2302,5.2126,5.94137,0.0569,98.5875 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
20,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,5.0,5.0,...,2.5360,5.6802,5.60763,0.3657,91.2625 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
21,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,6.0,6.0,...,2.5431,5.7255,5.62488,0.3622,91.3439 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
22,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,7.0,7.0,...,2.5360,5.6561,5.58933,0.3594,91.4076 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
23,AT-27A,3.0,PMUO,39 56.400 N,70 46.497 W,2015-04-30,2015-04-30T12:14:00Z,450.0,8.0,8.0,...,2.5331,5.6495,5.58998,0.3655,91.2685 (avg),C:\data\ctd\at27a_003.hex,39 56.40 N,070 46.50 W,2015-04-30T12:14:50Z,3.0
24,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,1.0,1.0,...,2.0794,4.8236,6.07835,0.2914,92.9735 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
25,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,2.0,2.0,...,2.0802,4.8252,6.07944,0.2876,93.0634 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
26,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,3.0,3.0,...,2.3271,6.6137,7.18163,0.1623,96.0242 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
27,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,4.0,4.0,...,2.3277,6.6157,7.18175,0.1641,95.9806 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
28,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,5.0,5.0,...,2.7211,7.4455,6.69247,0.2866,93.0849 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
29,AT-27A,4.0,PMCI,40 13.600 N,70 53.000 W,2015-05-01,2015-05-01T03:34:00Z,129.0,6.0,6.0,...,2.7245,7.4572,6.71035,0.2849,93.1246 (avg),C:\data\ctd\at27a_004.hex,40 13.60 N,070 53.00 W,2015-05-01T03:34:43Z,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7319,7.3252,6.58835,0.2913,92.9760 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7324,7.3292,6.58860,0.2997,92.7824 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7329,7.3285,6.58862,0.2909,92.9863 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7314,7.3201,6.58870,0.2972,92.8398 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7314,7.3242,6.58890,0.2939,92.9153 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7304,7.3181,6.58887,0.2932,92.9338 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7295,7.3154,6.58883,0.2924,92.9517 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7300,7.3210,6.58893,0.2895,93.0195 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7304,7.3215,6.58891,0.2913,92.9768 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7296,7.3157,6.58899,0.2882,93.0484 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7302,7.3222,6.58904,0.3068,92.6236 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7312,7.3247,6.58898,0.3078,92.6019 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7301,7.3171,6.58893,0.2882,93.0492 (avg),C:\data\ctd\at27a_006.hex,40 21.90 N,070 46.50 W,2015-05-02T01:50:39Z,6.0
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5735,5.8680,5.69489,0.4725,88.8593 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5741,5.8691,5.69404,0.4699,88.9151 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5748,5.8707,5.69438,0.4703,88.9081 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5746,5.8693,5.69375,0.4706,88.8999 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5732,5.8609,5.69241,0.4709,88.8939 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5712,5.8568,5.69288,0.4699,88.9154 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5726,5.8653,5.69325,0.4944,88.3910 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5723,5.8630,5.69439,0.4681,88.9563 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5736,5.8698,5.69473,0.4699,88.9157 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5726,5.8636,5.69531,0.4740,88.8261 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5722,5.8649,5.69576,0.4746,88.8117 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5738,5.8721,5.69612,0.4659,89.0058 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5741,5.8703,5.69591,0.4904,88.4760 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5735,5.8677,5.69558,0.5014,88.2339 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5731,5.8662,5.69560,0.4703,88.9064 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5731,5.8680,5.69587,0.4684,88.9505 (avg),C:\data\ctd\at27a_007.hex,40 03.88 N,070 44.74 W,2015-05-03T04:22:04Z,7.0
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3107,6.1408,6.74263,0.2684,93.5099 (avg),C:\data\ctd\at27a_008.hex,40 21.94 N,070 46.52 W,2015-05-03T14:12:45Z,8.0

Fill in missing data based on the sample log info:

In [78]:
summary['CTD Start Latitude [degrees]'] = summary['CTD Start Latitude [degrees]'].fillna(value=summary['Log Start Latitude'])
summary['CTD Start Longitude [degrees]'] = summary['CTD Start Longitude [degrees]'].fillna(value=summary['Log Start Longitude'])
summary['CTD Start Time [UTC]'] = summary['CTD Start Time [UTC]'].fillna(value=summary['Log Start Time'])
summary['Log Station-Cast #'] = summary['Log Station-Cast #'].fillna(value=summary['CTD Cast'])
summary['CTD Bottle Position'] = summary['CTD Bottle Position'].fillna(value=summary['Log Niskin #']);
summary['CTD Date Time'] = summary['CTD Date Time'].fillna(value=summary['Log Time'])
summary['CTD Depth [salt water, m]'] = summary['CTD Depth [salt water, m]'].fillna(value=summary['Log Trip Depth'])

Eliminate redundant or non-useful columns from the existing dataframe:

In [79]:
summary.drop(columns=['Log Start Latitude','Log Start Longitude','Log Start Date','Log Start Time','CTD Cast',
                     'Log Niskin #','Log Rosette Position','Log Date','Log Time','Log Trip Depth'], inplace=True)

**====================================================================================================================**
Now, split rows which have multiple entries into their own individual rows/entries

In [80]:
def explode(df, lst_cols, fill_value='', preserve_index=False):
    # make sure `lst_cols` is list-alike
    if (lst_cols is not None
        and len(lst_cols) > 0
        and not isinstance(lst_cols, (list, tuple, np.ndarray, pd.Series))):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)
    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()
    # preserve original index values    
    idx = np.repeat(df.index.values, lens)
    # create "exploded" DF
    res = (pd.DataFrame({
                col:np.repeat(df[col].values, lens)
                for col in idx_cols},
                index=idx)
             .assign(**{col:np.concatenate(df.loc[lens>0, col].values)
                            for col in lst_cols}))
    # append those rows that have empty lists
    if (lens == 0).any():
        # at least one list in cells is empty
        res = (res.append(df.loc[lens==0, idx_cols], sort=False)
                  .fillna(fill_value))
    # revert the original index order
    res = res.sort_index()
    # reset index if requested
    if not preserve_index:        
        res = res.reset_index(drop=True)
    return res

**========================================================================================================================**
Merge the discrete salinity and oxygen data into the sample_log based on the cast and niskin number. Do not use the sample bottle number - it is not stored in the processed discrete data we get back from the labs:

In [81]:
summary = summary.merge(sal, how='left', left_on=['Log Station-Cast #','Log Salts Bottle #'], right_on=['Sal Station','Sal Sample ID'] )
summary['Sal Salinity [psu]'] = summary['Sal Salinity [psu]'].fillna(value=summary['Log Salts Bottle #'])
#summary.rename(columns={'Sal Salinity [psu]': 'Discrete Salinity [psu]'}, inplace=True)

In [82]:
# Check that the values match up
check = summary['Log Salts Bottle #'] == summary['Sal Sample ID']
if all(check) is False:
    print(summary[check == False][['Log Station-Cast #','Log Salts Bottle #','Sal Station','Sal Sample ID']])

     Log Station-Cast # Log Salts Bottle #  Sal Station Sal Sample ID
56                  8.0                NaN          NaN           NaN
57                  1.0                NaN          NaN           NaN
58                  1.0                NaN          NaN           NaN
59                  1.0                NaN          NaN           NaN
60                  1.0                NaN          NaN           NaN
61                  1.0                NaN          NaN           NaN
62                  1.0                NaN          NaN           NaN
63                  1.0                NaN          NaN           NaN
64                  1.0                NaN          NaN           NaN
65                  1.0                NaN          NaN           NaN
66                  1.0                NaN          NaN           NaN
67                  1.0                NaN          NaN           NaN
68                  1.0                NaN          NaN           NaN
69                  1.0                NaN          NaN           NaN
70                  1.0                NaN          NaN           NaN
71                  1.0                NaN          NaN           NaN
72                  1.0                NaN          NaN           NaN
73                  2.0                NaN          NaN           NaN
74                  2.0                NaN          NaN           NaN
75                  2.0                NaN          NaN           NaN
76                  2.0                NaN          NaN           NaN
77                  2.0                NaN          NaN           NaN
78                  2.0                NaN          NaN           NaN
79                  2.0                NaN          NaN           NaN
80                  2.0                NaN          NaN           NaN
81                  2.0                NaN          NaN           NaN
82                  2.0                NaN          NaN           NaN
83                  2.0                NaN          NaN           NaN
84                  2.0                NaN          NaN           NaN
85                  2.0                NaN          NaN           NaN
..                  ...                ...          ...           ...
140                 6.0                NaN          NaN           NaN
141                 6.0                NaN          NaN           NaN
142                 6.0                NaN          NaN           NaN
143                 6.0                NaN          NaN           NaN
144                 6.0                NaN          NaN           NaN
145                 6.0                NaN          NaN           NaN
146                 6.0                NaN          NaN           NaN
147                 6.0                NaN          NaN           NaN
148                 6.0                NaN          NaN           NaN
149                 6.0                NaN          NaN           NaN
150                 6.0                NaN          NaN           NaN
151                 6.0                NaN          NaN           NaN
152                 6.0                NaN          NaN           NaN
153                 7.0                NaN          NaN           NaN
154                 7.0                NaN          NaN           NaN
155                 7.0                NaN          NaN           NaN
156                 7.0                NaN          NaN           NaN
157                 7.0                NaN          NaN           NaN
158                 7.0                NaN          NaN           NaN
159                 7.0                NaN          NaN           NaN
160                 7.0                NaN          NaN           NaN
161                 7.0                NaN          NaN           NaN
162                 7.0                NaN          NaN           NaN
163                 7.0                NaN          NaN           NaN
164                 7.0                NaN          NaN           NaN
165                 7.0                NaN          NaN           NaN
166                 7.0                NaN          NaN           NaN
167                 7.0                NaN          NaN           NaN
168                 7.0                NaN          NaN           NaN
169                 8.0                NaN          NaN           NaN

[114 rows x 4 columns]

Drop the unnecessary or extraneous columns:

In [83]:
summary.drop(columns=['Log Salts Bottle #','Sal Cruise','Sal Station','Sal Case','Sal Sample ID'], inplace=True)

Oxygen data:

In [84]:
summary = summary.merge(oxy, how='left', left_on=['Log Station-Cast #','Log Oxygen Bottle #'], right_on=['Oxy Station','Oxy Sample ID'] )
summary['Oxy Oxygen [mL/L]'] =  summary['Oxy Oxygen [mL/L]'].fillna(value=summary['Log Oxygen Bottle #'])
#summary.rename(columns={'Oxygen [mL/L]':'Discrete Oxygen [mL/L]'}, inplace=True)

In [85]:
# Check that the values match up
check = summary['Log Oxygen Bottle #'] == summary['Oxy Sample ID']
if all(check) is False:
    print(summary[check == False][['Log Station-Cast #','Log Oxygen Bottle #','Oxy Sample ID']])

     Log Station-Cast # Log Oxygen Bottle # Oxy Sample ID
56                  8.0                 NaN           NaN
57                  1.0                 NaN           NaN
58                  1.0                 NaN           NaN
59                  1.0                 NaN           NaN
60                  1.0                 NaN           NaN
61                  1.0                 NaN           NaN
62                  1.0                 NaN           NaN
63                  1.0                 NaN           NaN
64                  1.0                 NaN           NaN
65                  1.0                 NaN           NaN
66                  1.0                 NaN           NaN
67                  1.0                 NaN           NaN
68                  1.0                 NaN           NaN
69                  1.0                 NaN           NaN
70                  1.0                 NaN           NaN
71                  1.0                 NaN           NaN
72                  1.0                 NaN           NaN
73                  2.0                 NaN           NaN
74                  2.0                 NaN           NaN
75                  2.0                 NaN           NaN
76                  2.0                 NaN           NaN
77                  2.0                 NaN           NaN
78                  2.0                 NaN           NaN
79                  2.0                 NaN           NaN
80                  2.0                 NaN           NaN
81                  2.0                 NaN           NaN
82                  2.0                 NaN           NaN
83                  2.0                 NaN           NaN
84                  2.0                 NaN           NaN
85                  2.0                 NaN           NaN
..                  ...                 ...           ...
140                 6.0                 NaN           NaN
141                 6.0                 NaN           NaN
142                 6.0                 NaN           NaN
143                 6.0                 NaN           NaN
144                 6.0                 NaN           NaN
145                 6.0                 NaN           NaN
146                 6.0                 NaN           NaN
147                 6.0                 NaN           NaN
148                 6.0                 NaN           NaN
149                 6.0                 NaN           NaN
150                 6.0                 NaN           NaN
151                 6.0                 NaN           NaN
152                 6.0                 NaN           NaN
153                 7.0                 NaN           NaN
154                 7.0                 NaN           NaN
155                 7.0                 NaN           NaN
156                 7.0                 NaN           NaN
157                 7.0                 NaN           NaN
158                 7.0                 NaN           NaN
159                 7.0                 NaN           NaN
160                 7.0                 NaN           NaN
161                 7.0                 NaN           NaN
162                 7.0                 NaN           NaN
163                 7.0                 NaN           NaN
164                 7.0                 NaN           NaN
165                 7.0                 NaN           NaN
166                 7.0                 NaN           NaN
167                 7.0                 NaN           NaN
168                 7.0                 NaN           NaN
169                 8.0                 NaN           NaN

[114 rows x 3 columns]

In [ ]:
summary['Oxy']

In [87]:
summary.drop(columns=['Log Oxygen Bottle #','Oxy Cruise','Oxy Station','Oxy Case','Oxy Sample ID','Oxy Units',
                     ], inplace=True)

**========================================================================================================================**
### Nutrients Data
Load the nutrients data (if it exists) and merge with the summary sheet. If the nutrients data has not been returned yet, we fill in the relevant columns with the data from the sampling logs.

In [88]:
def clean_entry(x):
    if type(x) == float:
        return x
    else:
        x = x.replace(' ','')
        return x

In [89]:
summary['Log Nitrate Bottle 1'] = summary['Log Nitrate Bottle 1'].apply(lambda x: clean_entry(x))

In [90]:
try:
    nutrients = pd.read_excel(nutrients_path,header=0)
    nutrients
except IsADirectoryError:
    nutrients = pd.DataFrame(data=sample_log['Log Nitrate Bottle 1'])
    nutrients.rename(columns={'Log Nitrate Bottle 1':'Sample ID'}, inplace=True)
    columns = ['Sample ID','Cruise','Avg: Nitrate + Nitrite [µmol/L]','Avg: Ammonium [µmol/L]',
               'Avg: Phosphate [µmol/L]','Avg: Silicate [µmol/L]','Avg: Nitrite [µmol/L]','Avg: Nitrate [µmol/L]']
    for col in columns:
        if col not in nutrients.columns.values:
            nutrients[col] = nutrients['Sample ID']

In [91]:
nutrients.head()

,Sample ID,Avg: Nitrate+Nitrite [µmol/L],Avg: Ammonium [µmol/L],Avg: Phosphate [µmol/L],Avg: Silicate [µmol/L],Avg: Nitrite [µmol/L],Avg: Nitrate [µmol/L]
0,1-1,9.34579,0.838883,0.781959,6.305042,<0.04,9.34579
1,1-2,9.77051,0.863467,0.816794,6.541418,<0.04,9.77051
2,1-3,5.83786,0.831859,0.427190,2.208540,<0.04,5.83786
3,1-4,0.324218,0.5238,0.143924,0.044420,<0.04,0.324218
4,1-5,0.0773098,1.02251,0.110006,0.304346,<0.04,0.0773098

In [92]:
nutrients.rename(columns=lambda x: x.replace('Avg:', 'Nuts'), inplace=True)
nutrients.rename(columns={'Sample ID':'Nuts Sample ID'}, inplace=True)

Now we can merge into the summary sheet:

In [93]:
summary = summary.merge(nutrients, how='left', left_on=['Log Nitrate Bottle 1'], right_on=['Nuts Sample ID'])

In [94]:
summary.head()

,Log Cruise ID,Log Station-Cast #,Log Target Station,Log Bottom Depth [m],Log Ph Bottle #,Log DIC/TA Bottle #,Log Nitrate Bottle 1,Log Chlorophyll Brown Bottle #,Log Chlorophyll Filter Sample #,Log Chlorophyll Brown Bottle Volume,...,Sal Cast,Sal Salinity [psu],Oxy Oxygen [mL/L],Nuts Sample ID,Nuts Nitrate+Nitrite [µmol/L],Nuts Ammonium [µmol/L],Nuts Phosphate [µmol/L],Nuts Silicate [µmol/L],Nuts Nitrite [µmol/L],Nuts Nitrate [µmol/L]
0,AT-27A,1.0,OSPM,445.0,323.0,324.0,1-1,1.0,01 / 01,1070.0,...,1.0,35.1439,4.239,1-1,9.34579,0.838883,0.781959,6.305042,<0.04,9.34579
1,AT-27A,1.0,OSPM,445.0,325.0,326.0,1-2,2.0,01 / 02,1070.0,...,1.0,35.1219,4.248,1-2,9.77051,0.863467,0.816794,6.541418,<0.04,9.77051
2,AT-27A,1.0,OSPM,445.0,327.0,328.0,1-3,3.0,01 / 03,1070.0,...,1.0,35.6932,5.192,1-3,5.83786,0.831859,0.427190,2.208540,<0.04,5.83786
3,AT-27A,1.0,OSPM,445.0,NaN,NaN,NaN,4.0,01 / 04,1070.0,...,1.0,35.6948,5.189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT-27A,1.0,OSPM,445.0,329.0,330.0,1-4,5.0,01 / 05,1070.0,...,1.0,34.4173,6.968,1-4,0.324218,0.5238,0.143924,0.044420,<0.04,0.324218

In [95]:
summary[['Log Nitrate Bottle 1','Nuts Sample ID']]

    Log Nitrate Bottle 1 Nuts Sample ID
0                    1-1            1-1
1                    1-2            1-2
2                    1-3            1-3
3                    NaN            NaN
4                    1-4            1-4
5                    1-5            1-5
6                    1-6            1-6
7                    NaN            NaN
8                    NaN            NaN
9                    NaN            NaN
10                   NaN            NaN
11                   NaN            NaN
12                   NaN            NaN
13                   NaN            NaN
14                   NaN            NaN
15                   NaN            NaN
16                   3-1            3-1
17                   NaN            NaN
18                   3-2            3-2
19                   3-3            3-3
20                   3-4            3-4
21                   3-5            3-5
22                   3-6            3-6
23                   NaN            NaN
24                   4-1            4-1
25                   NaN            NaN
26                   4-2            4-2
27                   4-3            4-3
28                   4-4            4-4
29                   NaN            NaN
..                   ...            ...
140                  NaN            NaN
141                  NaN            NaN
142                  NaN            NaN
143                  NaN            NaN
144                  NaN            NaN
145                  NaN            NaN
146                  NaN            NaN
147                  NaN            NaN
148                  NaN            NaN
149                  NaN            NaN
150                  NaN            NaN
151                  NaN            NaN
152                  NaN            NaN
153                  NaN            NaN
154                  NaN            NaN
155                  NaN            NaN
156                  NaN            NaN
157                  NaN            NaN
158                  NaN            NaN
159                  NaN            NaN
160                  NaN            NaN
161                  NaN            NaN
162                  NaN            NaN
163                  NaN            NaN
164                  NaN            NaN
165                  NaN            NaN
166                  NaN            NaN
167                  NaN            NaN
168                  NaN            NaN
169                  NaN            NaN

[170 rows x 2 columns]

In [96]:
summary.drop(columns=['Log Nitrate Bottle 1','Nuts Sample ID'], inplace=True)

**========================================================================================================================**
### Chlorophyll Data
If the Chlorophyll measurements have not been returned yet, we will generate a synthetic chlorophyll spreadsheet which substitutes the sample bottle numbers in place of the actual measurements. One complication is that the Chlorophyll sample # column title is not identical between cruises.

In [97]:
try:
    chl = pd.read_excel(chl_path)
    chl.head()
except IsADirectoryError:
    # If there is no chlorophyll sheet yet, need to copy the bottle data into the final sample log
    chl = sample_log[['Log Station-Cast #','Log Chlorophyll Brown Bottle #','Log Chlorophyll Filter Sample #','Log Chlorophyll LN Tube']]
    chl.rename(columns={
        'Log Chlorophyll Brown Bottle #': 'Brown Bottle #',
        'Log Chlorophyll Filter Sample #': 'Chl (ug/l)',
        'Log Chlorophyll LN Tube': 'Phaeo (ug/l)'
    }, inplace=True)

In [98]:
for colname in list(chl.columns.values):
    chl.rename({colname: 'Chloro ' + colname}, axis='columns', inplace=True)
chl.rename(columns = lambda x: x.replace(':','').replace('\n',''), inplace=True)

Select a subset of the chlorophyll data which we will merge with the summary spreadsheet

In [99]:
chl.columns

Index(['Chloro Cruise #', 'Chloro Date', 'Chloro Station Start Time (UTC)',
       'Chloro Station End Time (UTC)', 'Chloro Niskin Trip Time',
       'Chloro Lat', 'Chloro Lon', 'Chloro Station Depth',
       'Chloro Station-Cast #', 'Chloro Niskin #', 'Chloro Trip Depth',
       'Chloro Brown Bottle #', 'Chloro Replicate', 'Chloro Water Depth Rep',
       'Chloro Filter Sample #', 'Chloro Vol Filt', 'Chloro Filter Size',
       'Chloro Vol Extracted', 'Chloro Sample', 'Chloro 90% Acetone',
       'Chloro Dilution During Reading', 'Chloro Chl_Cal_Filename',
       'Chloro tau_Calibration', 'Chloro Fd_Calibration', 'Chloro Rb',
       'Chloro Ra', 'Chloro blank', 'Chloro Rb-blank', 'Chloro Ra-blank',
       'Chloro Chl (ug/l)', 'Chloro Phaeo (ug/l)', 'Chloro Cal_Date',
       'Chloro Fluorometer', 'Chloro Comments'],
      dtype='object')

In [100]:
chl = chl[['Chloro Cruise #','Chloro Station-Cast #','Chloro Niskin #','Chloro Brown Bottle #','Chloro Filter Sample #',
          'Chloro Chl (ug/l)','Chloro Phaeo (ug/l)','Chloro Comments']]

In [101]:
chl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
Chloro Cruise #           77 non-null object
Chloro Station-Cast #     77 non-null int64
Chloro Niskin #           77 non-null int64
Chloro Brown Bottle #     77 non-null int64
Chloro Filter Sample #    77 non-null object
Chloro Chl (ug/l)         77 non-null float64
Chloro Phaeo (ug/l)       77 non-null float64
Chloro Comments           26 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ KB

In [102]:
summary.drop(columns=[x for x in list(summary.columns.values) if 'Chloro ' in x], inplace=True)

In [103]:
summary = summary.merge(chl, how='left', left_on=['Log Station-Cast #','Log Chlorophyll Filter Sample #'], right_on=['Chloro Station-Cast #','Chloro Filter Sample #'])

In [104]:
check = summary['Log Chlorophyll Filter Sample #'] == summary['Chloro Filter Sample #']
if all(check) is False:
    print(summary[check == False][['Log Chlorophyll Filter Sample #','Chloro Filter Sample #']])

    Log Chlorophyll Filter Sample # Chloro Filter Sample #
0                           01 / 01                    NaN
1                           01 / 02                    NaN
2                           01 / 03                    NaN
3                           01 / 04                    NaN
4                           01 / 05                    NaN
5                           01 / 06                    NaN
6                           01 / 07                    NaN
7                           01 / 08                    NaN
8                           02 / 01                    NaN
9                           02 / 02                    NaN
10                          02 / 03                    NaN
11                          02 / 04                    NaN
12                          02 / 05                    NaN
13                          02 / 06                    NaN
14                          02 / 07                    NaN
15                          02 / 08                    NaN
16                          03 / 01                    NaN
17                          03 / 02                    NaN
18                          03 / 03                    NaN
19                          03 / 04                    NaN
20                          03 / 05                    NaN
21                          03 / 06                    NaN
22                          03 / 07                    NaN
23                          03 / 08                    NaN
24                          04 / 01                    NaN
25                          04 / 02                    NaN
26                          04 / 03                    NaN
27                          04 / 04                    NaN
28                          04 / 05                    NaN
29                          04 / 06                    NaN
..                              ...                    ...
140                             NaN                    NaN
141                             NaN                    NaN
142                             NaN                    NaN
143                             NaN                    NaN
144                             NaN                    NaN
145                             NaN                    NaN
146                             NaN                    NaN
147                             NaN                    NaN
148                             NaN                    NaN
149                             NaN                    NaN
150                             NaN                    NaN
151                             NaN                    NaN
152                             NaN                    NaN
153                             NaN                    NaN
154                             NaN                    NaN
155                             NaN                    NaN
156                             NaN                    NaN
157                             NaN                    NaN
158                             NaN                    NaN
159                             NaN                    NaN
160                             NaN                    NaN
161                             NaN                    NaN
162                             NaN                    NaN
163                             NaN                    NaN
164                             NaN                    NaN
165                             NaN                    NaN
166                             NaN                    NaN
167                             NaN                    NaN
168                             NaN                    NaN
169                             NaN                    NaN

[170 rows x 2 columns]

In [ ]:
summary.drop(columns=['Log Chlorophyll Brown Bottle #','Log Chlorophyll Filter Sample #',
                      'Log Chlorophyll Brown Bottle Volume','Log Chlorophyll LN Tube',
                     ], inplace = True)

In [ ]:
#chl.dropna(subset=['Brown Bottle #'], inplace=True)

In [ ]:
#summary = summary.merge(chl, how='outer', left_on=['Station-Cast #','Chlorophyll Brown Bottle #'], right_on=['Station-Cast #','Brown Bottle #'])

In [ ]:
#summary.drop(columns=['Chlorophyll Brown Bottle #','Chlorophyll Filter Sample #','Chlorophyll LN Tube','Brown Bottle #',
#                     'Chlorophyll Brown Bottle Volume'], inplace = True)

**========================================================================================================================**
### Carbon-System Measurements
If the Carbon system measurements have not been returned yet, we will generate a synthetic DIC spreadsheet which substitutes the sample bottle numbers in place of the actual measurements.

In [ ]:
try:
    dic = pd.read_excel(dic_path,header=0)
    dic
except IsADirectoryError:
    dic = sample_log[['Log Station-Cast #','Log Niskin #','Ph Bottle #','DIC/TA Bottle #']]
    dic.rename(columns={
        'Station-Cast #':'CAST_NO',
        'Niskin #':'NISKIN_NO',
        'DIC/TA Bottle #':'DIC_UMOL_KG',
        'Ph Bottle #':'PH_TOT_MEA',
    }, inplace=True)
    columns = ['CAST_NO', 'NISKIN_NO','DIC_UMOL_KG', 'DIC_FLAG_W', 'TA_UMOL_KG',
       'TA_FLAG_W', 'PH_TOT_MEA', 'TMP_PH_DEG_C', 'PH_FLAG_W']
    for col in columns:
        if col not in dic.columns.values:
            if 'dic' in col.lower() or 'ta' in col.lower():
                dic[col] = dic['DIC_UMOL_KG']
            elif 'ph' in col.lower():
                dic[col] = dic['PH_TOT_MEA']
            else:
                dic[col] = np.nan

In [ ]:
dic.columns.values

In [ ]:
#dic = dic[['CAST_NO', 'NISKIN_NO','DIC_UMOL_KG', 'DIC_FLAG_W', 'TA_UMOL_KG',
       #'TA_FLAG_W', 'PH_TOT_MEA', 'TMP_PH_DEG_C', 'PH_FLAG_W']]
#dic.rename(columns = {'DIC_UMOL_KG':'DIC [µmol/kg]','DIC_FLAG_W':'DIC Flag',
#               'TA_UMOL_KG':'Alkalinity [µmol/kg]',
 #              'TA_FLAG_W':'Alkalinity Flag',
  #             'PH_TOT_MEA':'pH [Total Scale]',
   #            'TMP_PH_DEG_C':'pH Analysis Temp [C]', 
    #           'PH_FLAG_W':'pH Flag'}, inplace=True)
# Add in the pCO2 columns, which we don't measure
dic['PCO2_UMOL_KG'] = np.nan
dic['PCO2_FLAG_W'] = np.nan
dic['TMP_PCO2_DEG_C'] = np.nan

dic.rename(columns=lambda x: 'CARBON ' + x, inplace=True)

In [ ]:
dic

In [ ]:
summary = summary.merge(dic, how='left', left_on=['Log Cruise ID','Log Station-Cast #','CTD Bottle Position'], right_on=['CARBON CRUISE_ID','CARBON CAST_NO','CARBON NISKIN_NO'])
#summary = summary.merge(dic, how='left', left_on='DIC/TA Bottle #', right_on='Discrete SAMPLE_ID')

In [ ]:
summary[['Log Cruise ID','Log Station-Cast #','CTD Bottle Position','CARBON CRUISE_ID','CARBON CAST_NO','CARBON NISKIN_NO']]

In [ ]:
summary.drop_duplicates(inplace=True)

**====================================================================================================================**
Next step is to select the desired columns from the total superset of data. We'll do this by setting up a list which contains the key columns that we want for each parameter, and use masking to select those from the superset

In [ ]:
columns = ['Log Cruise ID', 'Log Station-Cast #', 'Log Target Station', 'CTD Start Latitude [degrees]', 
           'CTD Start Longitude [degrees]', 'CTD Start Time [UTC]', 'Log Bottom Depth [m]', 'CTD Filename',
           'CTD Bottle Position','CTD Date Time', 'CTD Pressure, Digiquartz [db]', 'CTD Depth [salt water, m]',
           'CTD Latitude [deg]', 'CTD Longitude [deg]', 'CTD Temperature [ITS-90, deg C]',
           'CTD Temperature, 2 [ITS-90, deg C]', 'CTD Conductivity [S/m]', 'CTD Conductivity, 2 [S/m]', 
           'CTD Salinity, Practical [PSU]', 'CTD Salinity, Practical, 2 [PSU]', 'CTD Oxygen, SBE 43 [ml/l]', 
           'CTD Oxygen Saturation, Garcia & Gordon [ml/l]', 'CTD Beam Attenuation, WET Labs C-Star [1/m]',
           'CTD Beam Transmission, WET Labs C-Star [%]', 'Oxy Oxygen [mL/L]', 'Chloro Chl (ug/l)',
           'Chloro Phaeo (ug/l)', 'Nuts Phosphate [µmol/L]', 'Nuts Silicate [µmol/L]',
           'Nuts Nitrate [µmol/L]', 'Nuts Nitrite [µmol/L]', 'Nuts Ammonium [µmol/L]',
           'Sal Salinity [psu]', 'CARBON TA_UMOL_KG', 'CARBON TA_FLAG_W', 'CARBON DIC_UMOL_KG', 'CARBON DIC_FLAG_W',
           'CARBON PCO2_UMOL_KG', 'CARBON TMP_PCO2_DEG_C', 'CARBON PCO2_FLAG_W', 'CARBON PH_TOT_MEA',
           'CARBON TMP_PH_DEG_C', 'CARBON PH_FLAG_W', 'Log Comments', 'Chloro Comments']

In [ ]:
summary_sheet = summary[[x for x in columns]]
summary_sheet.head()

In [ ]:
summary_sheet.rename(columns={'CTD Date Time':'CTD Bottle Closure'}, inplace=True)
summary_sheet.rename(columns={'Chloro Comments': 'Chl Comments'}, inplace=True)

Now, strip off the source name (i.e. Log/CTD/Sal/etc.) and replace with the appropriate name following the agreed-upon naming convention.

In [ ]:
summary_sheet.rename(columns=lambda x: x.replace('Log ','').replace('CTD ','').replace('Nuts ','Discrete ').replace('Sal ','Discrete ').replace('Oxy ','Discrete ').replace('Chloro ','Discrete '),
                    inplace=True)
summary_sheet.rename(columns=lambda x: x.replace('CARBON ',''), inplace=True)
summary_sheet.rename(columns = {'DIC_UMOL_KG':'Discrete DIC [µmol/kg]','DIC_FLAG_W':'Discrete DIC Flag',
               'TA_UMOL_KG':'Discrete Alkalinity [µmol/kg]',
               'TA_FLAG_W':'Discrete Alkalinity Flag',
               'PH_TOT_MEA':'Discrete pH [Total Scale]',
               'TMP_PH_DEG_C':'Discrete pH Analysis Temp [C]', 
               'PH_FLAG_W':'Discrete pH Flag', 
               'PCO2_UMOL_KG':'Discrete pCO2 [µmol/kg]',
               'TMP_PCO2_DEG_C':'Discrete pCO2 Analysis Temp [C]',
               'PCO2_FLAG_W':'Discrete pCO2 Flag'}, inplace=True)

In [ ]:
summary_sheet.columns

In [ ]:
summary_sheet.sort_values(by=['Cruise ID','Station-Cast #','Bottle Position'], inplace=True)

**========================================================================================================================**
Import the column order list and use fuzzy string matching to sort the data and save the data to an new Excel spreadsheet.

In [ ]:
column_order = pd.read_excel(basepath+'column_order.xlsx')

In [ ]:
column_order = tuple([x.replace('CTD','').strip() for x in column_order.columns.values])

In [ ]:
column_order

In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
results = {}
CTDsorted = pd.DataFrame()
for column in column_order:
    match = process.extractBests(column.replace('Discrete ','').replace('Calculated ',''),
                                 summary_sheet.columns.values, limit=2, score_cutoff=56, scorer=fuzz.ratio)
    if 'calculated' in column.lower():
        CTDsorted[column] = -9999999
    elif 'flag' in column.lower():
        if column not in ['Discrete DIC Flag','Discrete Alkalinity Flag','Discrete pCO2 Flag','Discrete pH Flag']:
            CTDsorted[column] = -9999999
        else:
            CTDsorted[column] = summary_sheet[column]
            results.update({column:match[0]})
    elif len(match) == 0:
        CTDsorted[column] = -9999999
    elif (match[0][0] not in [x[0] for x in results.values()]):
        CTDsorted[match[0][0]] = summary_sheet[match[0][0]]
        results.update({column:match[0]})
    elif len(match) == 1:
        CTDsorted[match[0][0]] = summary_sheet[match[0][0]]
        results.update({column:match[0]})
    else:
        CTDsorted[match[1][0]] = summary_sheet[match[1][0]]
        results.update({column:match[1]})
CTDsorted['Comments'] = summary_sheet['Comments']
CTDsorted['Chl Comments'] = summary_sheet['Chl Comments']

In [ ]:
CTDsorted.rename(columns = {'Cruise #:':'Cruise ID'}, inplace=True)
CTDsorted.sort_values(by=['Station-Cast #','Bottle Position'], inplace=True)

In [ ]:
cruise_id = list(set(CTDsorted['Cruise ID'].dropna()))
CTDsorted['Cruise ID'] = CTDsorted['Cruise ID'].fillna(value=cruise_id[0])

In [ ]:
cruise_name = cruise.replace('/','').split('_')[0]
current_date = pd.to_datetime(pd.datetime.now()).tz_localize(tz='US/Eastern').tz_convert(tz='UTC')
version = '1-02'

In [ ]:
cruise_id, cruise_name

In [ ]:
filename = '_'.join([cruise_name,cruise_id[0],'Discrete','Summary',current_date.strftime('%Y-%m-%d'),'ver',version,'.xlsx'])
filename

In [ ]:
CTDsorted.fillna(value=-9999999,inplace=True)

In [ ]:
CTDsorted.to_excel(basepath+array+cruise+filename)

**========================================================================================================================**

In [ ]:
summary.to_csv(basepath+array+cruise+'Pioneer-05_AT-31_Discrete_Summary_2019-07-16_ver_1-02.csv')

In [ ]:
#summary_file = '/home/andrew/Documents/OOI-CGSN/ooicgsn-water-sampling/Pioneer-07_AR-08_Discrete_Summary_2019-06-25_ver_1-01_.xlsx'
summary_file = basepath+array+cruise+'Pioneer-05_AT-31_Discrete_Summary_2019-07-16_ver_1-02_.xlsx'
summary_file

In [ ]:
summary = pd.read_excel(summary_file)
summary.drop(columns='Unnamed: 0', inplace=True)
summary

In [ ]:
cols = [x for x in summary.columns if 'flag' in x.lower()]

In [ ]:
def reformat_numbers(x):
    if x == -9999999:
        return x
    else:
        x = str(x).zfill(16)
        return x

In [ ]:
for col in cols:
    summary[col] = summary[col].apply(lambda x: reformat_numbers(x))

In [ ]:
summary['Discrete Alkalinity Flag']

In [ ]:
filename

In [ ]:
chl = pd.read_excel(chl_path+'Pioneer-03_Leg-1_KN-222_Chlorophyll_Sample_Data_2017-09-21_ver_1-00.xlsx')

In [ ]:
chl

In [ ]:
for ind in summary.index:
    chl_sample = summary['Discrete Chl (ug/l)'].iloc[ind]
    subset = chl[chl['Filter \nSample #'] == chl_sample]
    if len(subset) == 0:
        continue
    else:
        chloro = float(subset['Chl (ug/l)'])
        phaeo = float(subset['Phaeo (ug/l)'])
    summary['Discrete Chl (ug/l)'].iloc[ind] = chloro
    summary['Discrete Phaeo (ug/l)'].iloc[ind] = phaeo

In [ ]:
summary['Discrete Phaeo (ug/l)']

In [ ]:
chl['Filter \nSample #']

In [ ]:
def change_cruise(x):
    if x == 'AT27-A':
        x = 'AT-27A'
    elif x == 'AT27-B':
        x = 'AT-27B'
    else:
        x = x
    return x

In [ ]:
dic['CRUISE_ID'] = dic['CRUISE_ID'].apply(lambda x: change_cruise(x))
dic.columns

In [ ]:
for ind in summary.index:
    cid = summary['Cruise ID'].iloc[ind]
    sta = summary['Station-Cast #'].iloc[ind]
    bot = summary['Bottle Position'].iloc[ind]
    # Get the a subset of the dic 
    subset = dic[(dic['CRUISE_ID'] == cid) & (dic['CAST_NO'] == sta) & (dic['NISKIN_ID'] == bot)]
    # If the subset is empty, continue, else get the unique data
    if len(subset) == 0:
        continue
    else:
        # dic data
        co2 = subset['DIC_UMOL_KG']
        co2flag = subset['DIC_FLAG_W']
        # alkalinity 
        alk = subset['TA_UMOL_KG']
        alkflag = subset['TA_FLAG_W']
        # pH data
        pH = subset['PH_TOT_MEA']
        pHt = subset['TMP_PH_DEG_C']
        pHflag = subset['PH_FLAG_W']
    # Now fill in the relevant data
    summary['Discrete DIC [µmol/kg]'].iloc[ind] = float(co2)
    summary['Discrete DIC Flag'].iloc[ind] = float(co2flag)
    summary['Discrete Alkalinity [µmol/kg]'].iloc[ind] = float(alk)
    summary['Discrete Alkalinity Flag'].iloc[ind] = float(alkflag)
    summary['Discrete pH [Total Scale]'].iloc[ind] = float(pH)
    summary['Discrete pH Analysis Temp [C]'].iloc[ind] = float(pHt)
    summary['Discrete pH Flag'].iloc[ind] = float(pHflag)

In [ ]:
summary['Discrete DIC [µmol/kg]']

In [ ]:
summary.to_csv('/home/andrew/Documents/OOI-CGSN/ooicgsn-water-sampling/Pioneer-02_KN-217_Discrete_Summary_2019-07-11_ver_1-00.csv')

In [ ]:
ctd_log_b = pd.read_excel(water_path+'Pioneer-11_AR-31B_CTD_Sampling_Log.xlsx',sheet_name='Summary')
ctd_log_b

In [ ]:
ctd_log_c = pd.read_excel(water_path+'Pioneer-11_AR-31C_CTD_Sampling_Log.xlsx',sheet_name='Summary')
ctd_log_c['Cruise ID'] = 'AR-31C'

In [ ]:
filt = []
for ind in summary.index:
    cid = summary['Cruise ID'].iloc[ind]
    sta = summary['Station-Cast #'].iloc[ind]
    bot = summary['Bottle Position'].iloc[ind]
    nutnum = ctd_log_b[(ctd_log_b['Cruise ID'] == cid) & (ctd_log_b['Station-Cast #'] == sta) & (ctd_log_b['Niskin #'] == bot)]['Nitrate Bottle 1']
    nutnum = nutnum.to_list()
    if len(nutnum) == 0:
        continue
    else:
        nutnum = str(nutnum[0])
        if nutnum == 'nan':
            continue
        else:
            summary['Discrete Nitrate [µmol/L]'].iloc[ind] = nutnum

In [ ]:
# Repeat for the second ctd_log
filt = []
for ind in summary.index:
    cid = summary['Cruise ID'].iloc[ind]
    sta = summary['Station-Cast #'].iloc[ind]
    bot = summary['Bottle Position'].iloc[ind]
    nutnum = ctd_log_c[(ctd_log_c['Cruise ID'] == cid) & (ctd_log_c['Station-Cast #'] == sta) & (ctd_log_c['Niskin #'] == bot)]['Nitrate Bottle 1']
    nutnum = nutnum.to_list()
    if len(nutnum) == 0:
        continue
    else:
        nutnum = str(nutnum[0])
        if nutnum == 'nan':
            continue
        else:
            summary['Discrete Nitrate [µmol/L]'].iloc[ind] = nutnum

In [ ]:
def replace_cruise(x):
    if x == 'AR31-B':
        return 'AR-31B'
    elif x == 'AR31-C':
        return 'AR-31C'
    else:
        return x

In [ ]:
nutrients['Cruise'] = nutrients['Cruise'].apply(lambda x: replace_cruise(x))

In [ ]:
nutrients['Cruise']

In [ ]:
summary_b = summary.merge(nutrients, how='left', left_on=['Cruise ID','Discrete Nitrate [µmol/L]'], right_on=['Cruise','Sample ID'])

In [ ]:
summary_b['Discrete Nitrate [µmol/L]_y'].dropna()

In [ ]:
summary_b.to_excel(basepath+array+cruise+summary_name)

In [ ]:
nutnum.

In [ ]:
summary.query()

In [ ]:
nutrients_path = water_path+'Pioneer-08_AR-18_Nutrients_Sample_Data_2017-08-18_ver_1-00.xlsx'

In [ ]:
nutrients = pd.read_excel(nutrients_path)

In [ ]:
nutrients

In [ ]:
summary = summary.merge(nutrients, how='left', left_on='Discrete Nitrate [µmol/L]', right_on='Sample ID')

In [ ]:
summary.info()

In [ ]:
# Rename the columns:
summary['Discrete Nitrate [µmol/L]'] = summary['Avg: Nitrate [µmol/L]']
summary['Discrete Nitrite [µmol/L]'] = summary['Avg: Nitrite [µmol/L]']
summary['Discrete Phosphate [µmol/L]'] = summary['Avg: Phosphate [µmol/L]']
summary['Discrete Ammonium [µmol/L]'] = summary['Avg: Ammonium [µmol/L]']
summary['Discrete Silicate [µmol/L]'] = summary['Avg: Silicate [µmol/L]']

In [ ]:
nutrients.columns.values

In [ ]:
summary.drop(columns=nutrients.columns.values, inplace=True)

In [ ]:
summary.info()

In [ ]:
summary.drop_duplicates(inplace=True)

In [ ]:
summary.info()

In [ ]:
cols = [x for x in summary.columns.values if 'flag' in x.lower()]
cols

In [ ]:
summary.fillna(value=-9999999, inplace=True)

In [ ]:
def fill_flags(x):
    
    if x==-9999999:
        return x
    else:
        x = str(x).zfill(16)
        return x

In [ ]:
for c in cols:
    print(c)
    summary[c] = summary[c].apply(lambda x: fill_flags(x))

In [ ]:
summary['Start Time [UTC]'].iloc[286][-20:]

In [ ]:
summary

In [ ]:
def fix_start_time(x):
    if len(x) > 20:
        x = x[-20:]
        return x
    else:
        return x

In [ ]:
summary['Start Time [UTC]'] = summary['Start Time [UTC]'].apply(lambda x: fix_start_time(x))

In [ ]:
cruise_name = cruise.split('_')
cruise_name

In [ ]:
summary['Cruise ID'] = summary['Cruise ID'].fillna(value=cruise_id[0])

In [ ]:
cruise
cruise_id = list(set(summary['Cruise ID'].dropna()))[0].split('-')[0]
current_date = pd.to_datetime(pd.datetime.now()).tz_localize(tz='US/Eastern').tz_convert(tz='UTC')
version = '1-01'

In [ ]:
filename = '_'.join([cruise_name,cruise_id,'Discrete','Summary',current_date.strftime('%Y-%m-%d'),'ver',version])
filename = filename+'.csv'
filename

In [ ]:
summary.to_csv(basepath+array+cruise+filename)

In [ ]:
df

In [ ]:
results = {}
CTDsorted = pd.DataFrame()
for column in column_order:
    match = process.extractBests(column.replace('Discrete ','').replace('Calculated ',''),
                                 df.columns.values, limit=2, score_cutoff=56, scorer=fuzz.ratio)
    if 'calculated' in column.lower():
        CTDsorted[column] = -9999999
    elif 'flag' in column.lower():
        if column not in ['Discrete DIC Flag','Discrete Alkalinity Flag','Discrete pCO2 Flag','Discrete pH Flag']:
            CTDsorted[column] = -9999999
        else:
            CTDsorted[column] = df[column]
            results.update({column:match[0]})
    elif len(match) == 0:
        CTDsorted[column] = -9999999
    elif (match[0][0] not in [x[0] for x in results.values()]):
        CTDsorted[match[0][0]] = df[match[0][0]]
        results.update({column:match[0]})
    elif len(match) == 1:
        CTDsorted[match[0][0]] = df[match[0][0]]
        results.update({column:match[0]})
    else:
        CTDsorted[match[1][0]] = df[match[1][0]]
        results.update({column:match[1]})
CTDsorted['Comments'] = df['Comments']

In [ ]:
df

In [ ]:
for i in df.columns.values:
    print(i)

In [ ]:
summary_name_map = {}
for i,key in enumerate(column_order):
    print(key + ': ' + str(i))

In [ ]:
ctd_name_map = {}
for col in df.columns.values:
    ctd_name_map.update({col: ''})

In [ ]:
ctd_name_map = {
    'Bottle Position': 'Niskin/Bottle Position',
    'Date Time': 'Bottle Closure Time [UTC]',
    'Pressure, Digiquartz [db]': 'Pressure [db]',
    'Depth [salt water, m]': 'Depth [m]',
    'Latitude [deg]': 'Latitude [deg]',
    'Longitude [deg]': 'Longitude [deg]',
    'Temperature [ITS-90, deg C]': 'Temperature 1 [deg C]',
    'Temperature, 2 [ITS-90, deg C]': 'Temperature 2 [deg C]',
    'Conductivity [S/m]': 'Conductivity 1 [S/m]',
    'Conductivity, 2 [S/m]': 'Conductivity 2 [S/m]',
    'Salinity, Practical [PSU]': 'Salinity 1, uncorrected [psu]',
    'Salinity, Practical, 2 [PSU]': 'Salinity 2, uncorrected [psu]',
    'Oxygen raw, SBE 43 [V]': None,
    'Oxygen, SBE 43 [ml/l]': 'Oxygen, uncorrected [mL/L]',
    'Oxygen Saturation, Garcia & Gordon [ml/l]': 'Oxygen Saturation [mL/L]',
    'Beam Attenuation, WET Labs C-Star [1/m]': 'Beam Attenuation [1/m]',
    'Beam Transmission, WET Labs C-Star [%]': 'Beam Transmission [%]',
    'Filename': 'File',
    'Start Latitude [degrees]': 'Start Latitude [degrees]',
    'Start Longitude [degrees]': 'Start Longitude [degrees]',
    'Cruise': 'Cruise',
    'Start Time [UTC]': 'Start Time [UTC]',
    'Cast': 'Cast'
}

In [ ]:
sample_log_map = {
    'Cruise ID': 'Cruise',
    'Station-Cast #': 'Station',
    'Target Asset': 'Target Asset',
    'Start Latitude': 'Start Latitude [degrees]',
    'Start Longitude': 'Start Longitude [degrees]',
    'Start Date':'',
    'Start Time':'',
    'Bottom Depth [m]': 'Bottom Depth at Start Position [m]',
    'Niskin #': 'Niskin/Bottle Position',
    'Rosette Position': 'Niskin/Bottle Position',
    'Date': '',
    'Time': '',
    'Trip Depth': 'Depth [m]',
    'Oxygen Bottle #': 'Discrete Oxygen [mL/L]',
    'Ph Bottle #': ['Discrete pH [Total Scale]', ],
    'DIC/TA Bottle #': ,
    'Salts Bottle #': ,
    'Nitrate Bottle 1': ,
    
    
}

In [ ]:
column_order

In [ ]:
df2 = pd.DataFrame()
for key in ctd_name_map.keys():
    df2[ctd_name_map.get(key)] =  df[key]

In [ ]:
df2

In [ ]:
df2.to_excel(basepath+array+cruise+water+'Leg1summary.xlsx')

In [ ]:
194*46767648*(0.75/100)